<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab1">
      <ion-icon style="font-size: 20px;" name="home"></ion-icon>
      <ion-label>Visitors</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon style="font-size: 20px;" name="basket"></ion-icon>
      <ion-label>Parcel</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon style="font-size: 20px;" name="logo-reddit"></ion-icon>
      <ion-label>Kids Exit</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon style="font-size: 20px;" name="walk"></ion-icon>
      <ion-label>Check Out</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>