<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="title-text">Request Voting</ion-title>
    <ion-buttons class="title-text" slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="title-text RaiseTicket" slot="end" size="small" shape="round" (click)=onClick()>
      <ion-icon name="add-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div>
    <form [formGroup]="requestVotingService.requestVotingForm"
      (ngSubmit)="onSubmit(requestVotingService.requestVotingForm.value)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="title" placeholder="Title"></ion-input>
            </ion-item>
            <div class="error_mesg" *ngIf="requestVotingService.requestVotingForm.controls['title'].hasError('required') &&
              requestVotingService.requestVotingForm.controls['title'].touched">
              <small style="color: #f04141;">Title is Required.</small></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-textarea rows="3" cols="20" formControlName="description" placeholder="Description"></ion-textarea>
            </ion-item>
            <div class="error_mesg" *ngIf="requestVotingService.requestVotingForm.controls['description'].hasError('required') &&
              requestVotingService.requestVotingForm.controls['description'].touched">
              <small style="color: #f04141;">Description is Required.</small></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center">

            <ion-button color="primary" style="width:100%" type="submit"
              [disabled]="requestVotingService.requestVotingForm.invalid">
              Submit
            </ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>

    </form>
  </div> -->
  <ion-card *ngFor = "let list of requestedVotingList">
    <ion-item>
      <ion-label>No: #Request-{{list.id}}</ion-label>
      <ion-button class="title-text" slot="end" size="small" shape="round"
        (click)="view(list.id)">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p *ngIf="list.DESCRIPTION"> Description: <span> {{list.DESCRIPTION}} </span></p>
            
            <div *ngIf="!getRequestVotingAction(list.mapFlatOwnerVotes)">
              <!-- <ion-button (click)="approve(list.id)" fill="outline" slot="end">Approve</ion-button> -->
              <!-- <ion-button (click)="reject(list.id)" fill="outline" slot="end">Reject</ion-button> -->
              <ion-button (click)="approve(list.id)" fill="outline" slot="end">
                <ion-icon name="thumbs-up-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="reject(list.id)" fill="outline" slot="end">
                <ion-icon name="thumbs-down-outline"></ion-icon>
              </ion-button>
            </div>
            <h6 *ngIf="getRequestVotingStatus(list.mapFlatOwnerVotes)"> User Status :
              {{getRequestVotingStatus(list.mapFlatOwnerVotes)}} </h6>

            <h6 *ngIf="list.IS_APPROVED == true">
              Association Status : Approved
            </h6>
            <h6 *ngIf="list.IS_APPROVED == false">
              Association Status : Pending
            </h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>