<ion-header>
  <ion-toolbar  class="new-background-color">
    <ion-title class="title-text">Ind Service Amount</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="title-text" autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
    <ion-row>

      <ion-col size="6">
        <ion-item lines="full">
          <ion-label position="floating">Service</ion-label>
          <ion-select placeholder="Select One" (ionChange)="getServiceTypes($event)" formControlName="serviceId">
            <ion-select-option *ngFor="let service of vendorServices" [value]="service.indService.IND_SERVICE_ID">
              {{service.indService.IND_SERVICE_NAME}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-label position="floating">Type</ion-label>
        <ion-select placeholder="Select One" formControlName="serviceTypeId">
          <ion-select-option *ngFor="let type of serviceTypes" [value]="type.IND_SERVICE_TYPE_ID">{{type.TYPE}}
          </ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="full">
          <ion-label position="floating">Amount*</ion-label>
          <ion-input formControlName="amount" type="text" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block">Add</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

  </form>
  <div *ngIf="serviceInternalAMounts.length > 0">
    <h6 style="text-align: center;">Existing Service Amount's</h6>

    <ion-item *ngFor="let serviceAmount of serviceInternalAMounts">
      <h6 *ngIf="serviceAmount.TYPE">
        Type : {{serviceAmount.TYPE}}
      </h6>
      <h6 *ngIf="serviceAmount.TYPE == null">
        Service : {{serviceName}}
      </h6>
      <h6>
        Amount : {{serviceAmount.AMOUNT}}
      </h6>
      <ion-button (click)="onEdit(serviceAmount)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onDelete(serviceAmount.INTERNAL_VENDOR_AMOUNT_ID)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>


    </ion-item>
  </div>





</ion-content>