
<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-title class="title-text">Allow Visitor</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="title-text" autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    
    
     <form [formGroup]="oWService.form"   novalidate (ngSubmit)="save(oWService.form)">

      <ion-grid>
        <ion-row>
          <ion-col size="12">
              <ion-item lines="full">
                  <ion-label position="floating">Visitor Name*</ion-label>
                  <ion-input formControlName="visitorName" type="text"></ion-input>
                </ion-item>
              
                <div class="danger" *ngIf="(oWService.form.controls['visitorName'].hasError('required') && oWService.form.controls['visitorName'].touched)" padding>Visitor Name is required</div>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="full">
                <ion-label position="floating">Visitor Type*</ion-label>

                <ion-select placeholder="Select One" formControlName="visitorType">
                  <ion-select-option *ngFor="let type of visitorTypes" [value] = "type.ID" >{{type.TYPE}}
                  </ion-select-option>
              </ion-select>
                <!-- <ion-input formControlName="visitorType" type="text"></ion-input> -->
              </ion-item>
            
              <div class="danger" *ngIf="(oWService.form.controls['visitorType'].hasError('required') && oWService.form.controls['visitorType'].touched)" padding>Visitor Type is required</div>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="full">
              <ion-label position="floating">Visitor Mobile Number*</ion-label>
              <ion-input formControlName="mobileNumber" type="text"></ion-input>
            </ion-item>
          
            <div class="danger" *ngIf="(oWService.form.controls['mobileNumber'].hasError('required') && oWService.form.controls['mobileNumber'].touched)" padding>Visitor Mobile Number is required</div>
      </ion-col>

        <ion-col size="6">
          <ion-item lines="full">
              <ion-label position="floating">Company</ion-label>
              <ion-input formControlName="companyName" type="text"></ion-input>
            </ion-item>
          
            <!-- <div class="danger" *ngIf="(oWService.form.controls['companyName'].hasError('required') && oWService.form.controls['companyName'].touched)" padding>Visitor Type is required</div> -->
      </ion-col>
      <ion-col size="6">
        <ion-item lines="full">
            <ion-label position="floating">Count*</ion-label>
            <ion-input formControlName="count" type="number"></ion-input>
          </ion-item>
        
          <div class="danger" *ngIf="(oWService.form.controls['count'].hasError('required') && oWService.form.controls['count'].touched)" padding>Count is required</div>
    </ion-col>


          <ion-col size="12">
 
              <ion-item>
                  <ion-label>Permitted Date</ion-label>
                  <ion-datetime  formControlName="permittedDate"  displayFormat="MM/DD/YYYY" ></ion-datetime>
                </ion-item>
                <div class="danger" *ngIf="(oWService.form.controls['permittedDate'].hasError('required') && oWService.form.controls['permittedDate'].touched)" padding>Permitted Date is required</div>
              
          </ion-col>
          <ion-col size="12">
              <ion-item>
                
              <ion-label>Permitted Time</ion-label>
              <ion-datetime  formControlName="permittedTime"  displayFormat="HH:mm:ss" ></ion-datetime>
            </ion-item>
            <div class="danger" *ngIf="(oWService.form.controls['permittedTime'].hasError('required') && oWService.form.controls['permittedTime'].touched)" padding>Permitted Time is required</div>
            </ion-col>  

        </ion-row>
      </ion-grid>
              <ion-button type="submit" color="primary" expand="block" [disabled]="oWService.form.invalid" >Allow</ion-button>
      
      </form> 

      <a style="text-align: center;" (click)="navigate()">Inside/Requested Visitor</a>
     
    

</ion-content>
 
