<app-secuirty-header></app-secuirty-header>

 

<ion-content>

    <ion-card>
        <ion-radio-group (ionChange)="onChangeHandler($event)"  [(ngModel)]="something">
                <ion-row>
                  <ion-col>
                       <ion-item>
                          <ion-label>Visitor</ion-label>
                          <ion-radio mode="md" item-left value="visitor"></ion-radio>
                     </ion-item>
                   </ion-col>
              
                  <ion-col>
                      <ion-item>
                          <ion-label>Vendor</ion-label>
                          <ion-radio mode="md" item-left value="vendor"></ion-radio>
                     </ion-item>
                  </ion-col>
              
                 
              
              </ion-row>
              </ion-radio-group>
        <ion-item *ngIf="isVisitorShow">
                <ion-input #visitor  placeholder="Enter Visitor Id"></ion-input>
          <ion-button (click)="checkVisitor(visitor.value)" fill="outline" slot="end" >Check</ion-button>
        </ion-item>
        <ion-item *ngIf="isVendorShow">
                <ion-input #vendor  placeholder="Enter Vendor Id"></ion-input>
          <ion-button  (click)="checkVendor(vendor.value)" fill="outline" slot="end">Check</ion-button>
        </ion-item>
      

      </ion-card>

      <h6 style="text-align: center;font-weight: bold;">Waiting for Approval List</h6>
      <ion-card *ngFor="let visitor of visitorWaitingList" >
          <ion-item>
            <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
            <ion-label>Name : {{visitor.VISITOR_NAME}} &nbsp;   Persons  :  {{visitor.COUNT}}</ion-label>
       
      
          </ion-item>
        
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                    <img style="height: 67%;width: 100%;" src="http://localhost:3000/visitor/visitorPic/{{visitor.VISITIOR_PIC}}" onerror="this.src='../../../../assets/no-image.jpg';"> 
                </ion-col>
                <ion-col size="10"> 
                    <h6> Mobile No: {{visitor.VISITOR_MOBILE_NUMBER}}</h6>
                <h6>
                     Raised Date  :
                      <b> {{visitor.PERMITTED_DATE | date:short}} - {{visitor.PERMITTED_TIME }}</b>
                    </h6>    
                   
                
                  </ion-col>
  
              
              </ion-row>
            </ion-grid>
            
         
        
          </ion-card-content>
        </ion-card>
      



</ion-content>