<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">OneApt Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6 style="text-align:center;">Locality Information (Step - 2/6)</h6>
  <form [formGroup]="service.formSteptwo" novalidate>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Enrolement*</ion-label>
            <ion-select placeholder="Select One" formControlName="enrolement">
              <ion-select-option value="association">Association</ion-select-option>
              <ion-select-option value="vendor">Vendor</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="danger"
            *ngIf="(service.formSteptwo.controls['enrolement'].hasError('required') && service.formSteptwo.controls['enrolement'].touched)"
            padding>Enrollment is required</div>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="full">
            <ion-label position="floating">Country*</ion-label>
            <ion-select placeholder="Select One" formControlName="country" #C (ionChange)="onChangecountry(C.value)">
              <ion-select-option *ngFor="let country of countriesObj" [value]="country.id">{{country.name}}
              </ion-select-option>

            </ion-select>
          </ion-item>
          <div class="danger"
            *ngIf="(service.formSteptwo.controls['country'].hasError('required') && service.formSteptwo.controls['country'].touched)"
            padding>Country is required</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="full">
            <ion-label position="floating">State*</ion-label>
            <ion-select placeholder="Select One" formControlName="state" #S (ionChange)="onChangestate(S.value)">
              <ion-select-option *ngFor="let state of statesObj" [value]="state.id">{{state.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div class="danger"
            *ngIf="(service.formSteptwo.controls['state'].hasError('required') && service.formSteptwo.controls['state'].touched)"
            padding>State is required</div>
        </ion-col>
        <ion-col size="6">
          <!-- <ion-item lines="full">
            <ion-label position="floating">District*</ion-label>
            <ion-select placeholder="Select One" formControlName="district">
              <ion-select-option value="hyd">Hyderabad</ion-select-option>
              <ion-select-option value="rr">Ranga Reddy</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="danger"
            *ngIf="(service.formSteptwo.controls['district'].hasError('required') && service.formSteptwo.controls['district'].touched)"
            padding>Disrict is required</div> -->
          <ion-item lines="full">
            <ion-label position="floating">District*</ion-label>
            <ion-input type="text" formControlName="district"></ion-input>
          </ion-item>
          <div class="danger" *ngIf="(service.formSteptwo.controls['district'].hasError('required') &&
              service.formSteptwo.controls['district'].touched)" padding>LandMark is required</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="full">
            <ion-label position="floating">City*</ion-label>
            <ion-select placeholder="Select One" formControlName="city">
              <ion-select-option *ngFor="let cities of citiesObj" [value]="cities.id">{{cities.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div class="danger"
            *ngIf="(service.formSteptwo.controls['city'].hasError('required') && service.formSteptwo.controls['city'].touched)"
            padding>City is required</div>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="full">
            <ion-label position="floating">Pincode*</ion-label>
            <ion-input type="text" formControlName="pincode"></ion-input>
          </ion-item>
          <div class="danger"
            *ngIf="(service.formSteptwo.controls['pincode'].hasError('required') && service.formSteptwo.controls['pincode'].touched)"
            padding>Pincode is required</div>
            <div class="danger" *ngIf="(service.formSteptwo.controls['pincode'].hasError('minlength') &&
      service.formSteptwo.controls['pincode'].touched)" padding>Pincode must have minimum
              length 6</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="full">
            <ion-label position="floating">landMark*</ion-label>
            <ion-input type="text" formControlName="landMark"></ion-input>
          </ion-item>
          <div class="danger"
            *ngIf="(service.formSteptwo.controls['landMark'].hasError('required') && service.formSteptwo.controls['landMark'].touched)"
            padding>LandMark is required</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="full">
            <ion-label position="floating">Address*</ion-label>
            <ion-textarea rows="5" cols="20" formControlName="address"></ion-textarea>
          </ion-item>
          <div class="danger"
            *ngIf="(service.formSteptwo.controls['address'].hasError('required') && service.formSteptwo.controls['address'].touched)"
            padding>Address is required</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button type="button" color="primary" [disabled]="service.formSteptwo.invalid" expand="block"
            (click)="nextStep(service.formSteptwo.value)">Next</ion-button><br>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button type="button" color="primary" expand="block" (click)="prevStep()">Previous</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <ion-button type="button" color="danger" expand="block" (click)="prevStep()">Previous</ion-button> -->
</ion-content>