<ion-header>
  <ion-toolbar>
      <ion-title style="text-align:center;">OneApt Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h6 style="text-align:center;">Association Information (Step - 3/6)</h6>
  <form [formGroup]="service.formStepthreeAssc" novalidate>

  
    <ion-item lines="full">
      <ion-label position="floating">Appartment Name*</ion-label>
      <ion-input type="text" formControlName="apt_name"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.formStepthreeAssc.controls['apt_name'].hasError('required') && service.formStepthreeAssc.controls['apt_name'].touched)" padding>Appartment is required</div>

    <ion-list>
        <ion-radio-group (ionChange)="radioCheckedAppartment($event)"   formControlName="app_registered" >
            <ion-row>
               <ion-item lines="none">
                  <ion-label> Registered</ion-label>

               </ion-item>
              <ion-col>
                   <ion-item>
                 
                      <ion-label>Yes</ion-label>
                      <ion-radio  mode="md" item-left value="Yes"></ion-radio>
                 </ion-item>
               </ion-col>
          
              <ion-col>
                  <ion-item>
                      <ion-label>No</ion-label>
                      <ion-radio  mode="md" item-left value="No"></ion-radio>
                 </ion-item>
              </ion-col>
          
            
          
          </ion-row>
          </ion-radio-group>
      
    
    </ion-list>
    <div class="danger"  *ngIf="(service.formStepthreeAssc.controls['ass_registered'].hasError('required') && service.formStepthreeAssc.controls['ass_registered'].touched)" padding>Registration is required</div>
<div *ngIf="appartmentRegistered == 'Yes'">
    <ion-item lines="full">
        <ion-label position="floating">Appartment Registraion Number*</ion-label>
        <ion-input type="text" formControlName="app_registraion_number"></ion-input>
      </ion-item>
      <div class="danger"  *ngIf="(service.formStepthreeAssc.controls['app_registraion_number'].hasError('required') && service.formStepthreeAssc.controls['app_registraion_number'].touched)" padding>Appartment Registration number is required</div>

      <ion-item lines="full">
          <ion-label #myFileInput > Appartment File</ion-label>
          <ion-input id="appartmentFile" (change)="onAppartmentFileChange($event)" type="file" formControlName="app_registraion_file"></ion-input>
        </ion-item>
</div>
  
  

    <ion-item lines="full">
      <ion-label position="floating">Association Name*</ion-label>
      <ion-input type="text" formControlName="ass_name"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.formStepthreeAssc.controls['ass_name'].hasError('required') && service.formStepthreeAssc.controls['ass_name'].touched)" padding>Association name is required</div>



    <ion-list>
        <ion-radio-group (ionChange)="radioCheckedAssociation($event)"   formControlName="ass_registered" >
            <ion-row>
               <ion-item lines="none">
                  <ion-label> Registered</ion-label>

               </ion-item>
              <ion-col>
                   <ion-item>
                 
                      <ion-label>Yes</ion-label>
                      <ion-radio  mode="md" item-left value="Yes"></ion-radio>
                 </ion-item>
               </ion-col>
          
              <ion-col>
                  <ion-item>
                      <ion-label>No</ion-label>
                      <ion-radio  mode="md" item-left value="No"></ion-radio>
                 </ion-item>
              </ion-col>
          
            
          
          </ion-row>
          </ion-radio-group>
      
    
    </ion-list>
    <div *ngIf="associationRegistered == 'Yes'">
        <ion-item lines="full">
            <ion-label position="floating">Association Registraion Number*</ion-label>
            <ion-input type="text" formControlName="ass_registraion_number"></ion-input>
          </ion-item>
          <div class="danger"  *ngIf="(service.formStepthreeAssc.controls['ass_registraion_number'].hasError('required') && service.formStepthreeAssc.controls['ass_registraion_number'].touched)" padding>Association Registration number is required</div>
    
          <ion-item lines="full">
              <ion-label #myFileInput > Association File</ion-label>
              <ion-input type="file" (change)="onAssociationFileChange($event)"  formControlName="ass_registraion_file"></ion-input>
            </ion-item>
    </div>
    <ion-item lines="full">
      <ion-label position="floating">Number Of Flates/Houses*</ion-label>
      <ion-input type="text" formControlName="no_of_flates_or_houses"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.formStepthreeAssc.controls['no_of_flates_or_houses'].hasError('required') && service.formStepthreeAssc.controls['no_of_flates_or_houses'].touched)" padding>Flats/houses is required</div>

    
  </form>

  <ion-button type="button" color="primary" expand="block" [disabled]="service.formStepthreeAssc.invalid" (click)="nextStep(service.formStepthreeAssc.value)">Next</ion-button><br>
<ion-button type="button" color="primary" expand="block" (click)="prevStep()">Previous</ion-button>
</ion-content>