<ion-header>
  <ion-toolbar>
      <ion-title style="text-align:center;">OneApt Registration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <h6 style="text-align:center;">Vendor Information (Step - 4/6)</h6>
  <form [formGroup]="service.vendorInfo" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Vendor Name*</ion-label>
      <ion-input type="text" formControlName="vendor_name"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorInfo.controls['vendor_name'].hasError('required') && service.vendorInfo.controls['vendor_name'].touched)" padding>Vendor Name is required</div>
    <ion-item lines="full">
      <ion-label position="floating">Vendor email*</ion-label>
      <ion-input type="email" formControlName="vendor_email"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorInfo.controls['vendor_email'].hasError('required') && service.vendorInfo.controls['vendor_email'].touched)" padding>Vendor email is required</div>
    <ion-item lines="full">
      <ion-label position="floating">Vendor Mobile*</ion-label>
      <ion-input type="text" formControlName="vendor_mobile"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorInfo.controls['vendor_mobile'].hasError('required') && service.vendorInfo.controls['vendor_mobile'].touched)" padding>Vendor mobile is required</div>
    <ion-item lines="full">
      <ion-label position="floating">Vendor Address*</ion-label>
      <ion-textarea rows="5" cols="20" formControlName="vendor_address"></ion-textarea>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorInfo.controls['vendor_address'].hasError('required') && service.vendorInfo.controls['vendor_address'].touched)" padding>Vendor address is required</div>
    <!-- <ion-item>
      <ion-label position="floating">Services Provided*</ion-label>
      <ion-select placeholder="Select One" formControlName="services_provided">
        <ion-select-option value="canteen">Canteen</ion-select-option>
        <ion-select-option value="water">Water</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorInfo.controls['services_provided'].hasError('required') && service.vendorInfo.controls['services_provided'].touched)" padding>Vendor address is required</div> -->
  </form>
  <ion-button type="button" color="primary" [disabled]="service.vendorInfo.invalid" expand="block" (click)="nextStep(service.vendorInfo.value)">Next</ion-button><br>
  <ion-button type="button" color="primary" expand="block" (click)="prevStep()">Previous</ion-button>
</ion-content>