<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons class="title-text" slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-text">User Family</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button (click)="addFamily()" style="margin-left: 30%;margin-top: 20%;">
      Add Family
    </ion-button>
  </div>
  <div>

    <!-- <ion-card *ngFor="let relationList of relationsObj" class="ion-card-data">
      
      <ion-icon name="open" color="primary" style="font-size: 20px; padding-left:95%" (click)="edit()"></ion-icon>      
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Name: {{relationList.RELATIVE_NAME}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Age: {{relationList.AGE}}</p>
          </ion-col>
          <ion-col>
            <p>Phone Number: {{relationList.PHONE_NUMBER}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Email: {{relationList.EMAIL_ID}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card> -->

    <ion-card *ngFor="let relationList of relationsObj">
      <ion-card-header>
        <span style="color:blue">{{relationList.RELATIVE_NAME}}</span>
        <ion-icon style="float: right;" name="open" (click)="takeAction(relationList)"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <h5>Age: <b>{{relationList.AGE}}</b></h5>
        <h5>Phone Number: <b>{{relationList.PHONE_NUMBER}}</b></h5>
        <h5>Email: <b>{{relationList.EMAIL_ID}}</b></h5>
      </ion-card-content>
      </ion-card>
  </div>
</ion-content>

