<ion-header>
  <ion-toolbar>
    <ion-title>Ionic Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button type="button" color="danger" expand="block" (click)="prevStep()">Prev</ion-button>
  <!-- <form [formGroup]="service.form" (ngSubmit)="submitForm()" novalidate>

    <ion-row>
      <ion-col size="6">
          <ion-item lines="full">
              <ion-label position="floating">Country</ion-label>
              <ion-input formControlName="name" type="text"></ion-input>
            </ion-item>
      </ion-col>
      <ion-col size="6">
          <ion-item lines="full">
              <ion-label position="floating">State*</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="6">
            <ion-item lines="full">
                <ion-label position="floating">Distrct</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
              </ion-item>
        </ion-col>
        <ion-col size="6">
            <ion-item lines="full">
                <ion-label position="floating">Pincode*</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
 
    

    <ion-item lines="full">
      <ion-label position="floating">Mobile*</ion-label>
      <ion-input maxlength="10" formControlName="mobile" type="text" required></ion-input>
    </ion-item>
   

    <ion-row>
      <ion-col>
        <ion-button type="button" color="danger" expand="block" (click)="nextStep(service.form)">Next</ion-button>
      </ion-col>
    </ion-row> 
  </form>-->
</ion-content>