

<ion-header >
    <ion-toolbar class="new-background-color">
      <ion-title class="title-text">Internal Vendor Add Amount</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button class="title-text" autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <form [formGroup]="form"   novalidate (ngSubmit)="save(form)">
          <ion-item>
              <ion-label>Amount</ion-label>
              <ion-input formControlName="amount"  type="number"></ion-input>            
            </ion-item>          
            <ion-item>
                <ion-label>Reason</ion-label>
                <ion-input formControlName="Reason"  type="text"></ion-input>
              </ion-item>        
                <ion-button type="submit" color="primary" expand="block" [disabled]="form.invalid" >Add</ion-button>      
        </form> 
      
  </ion-content>
