<ion-header>
  <ion-toolbar >
    <ion-title class="font-color" >Security-Sharukh</ion-title>&nbsp;&nbsp;&nbsp;
 
   
     <ion-icon style="color:white;font-size: 25px;"    name="alarm" ></ion-icon>&nbsp;
     <ion-icon  style="color:white;font-size: 25px;"  name="person"></ion-icon>&nbsp;
     <ion-icon  style="color:white;font-size: 25px;" (click)="inviteVisitor()"  name="add-circle"></ion-icon>&nbsp;
     <ion-icon  style="color:white;font-size: 25px;" slot="end" (click)="logOut()"  name="exit"></ion-icon>
    <!-- <ion-icon style="float:left" style="font-size:5px;display: inline"></ion-icon> -->
  </ion-toolbar>

</ion-header>