<ion-header>
  <ion-toolbar>
      <ion-title style="text-align:center;">OneApt Registration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <h6 style="text-align:center;">Vendor Company Information (Step - 3/6)</h6>
  <form [formGroup]="service.vendorRegistraion" novalidate>
      <ion-item lines="full">
          <ion-label position="floating">Company Name*</ion-label>
          <ion-input type="text" formControlName="company_name"></ion-input>
        </ion-item>
        <div class="danger"  *ngIf="(service.vendorRegistraion.controls['company_name'].hasError('required') && service.vendorRegistraion.controls['company_name'].touched)" padding>Company Name is required</div>
      <ion-list>
          <ion-radio-group (ionChange)="radioCheckedVendor($event)"   formControlName="vendor_registered" >
              <ion-row>
                 <ion-item lines="none">
                    <ion-label> Registered</ion-label>
  
                 </ion-item>
                <ion-col>
                     <ion-item>
                   
                        <ion-label>Yes</ion-label>
                        <ion-radio  mode="md" item-left value="Yes"></ion-radio>
                   </ion-item>
                 </ion-col>
            
                <ion-col>
                    <ion-item>
                        <ion-label>No</ion-label>
                        <ion-radio  mode="md" item-left value="No"></ion-radio>
                   </ion-item>
                </ion-col>
            
              
            
            </ion-row>
            </ion-radio-group>
        
      
      </ion-list>

      <div *ngIf="vendorRegistered == 'Yes'">
          <ion-item lines="full">
              <ion-label position="floating">Vendor Registraion Number*</ion-label>
              <ion-input type="text" formControlName="vendor_registraion_number"></ion-input>
            </ion-item>
            <div class="danger"  *ngIf="(service.vendorRegistraion.controls['vendor_registraion_number'].hasError('required') && service.vendorRegistraion.controls['vendor_registraion_number'].touched)" padding>Vendor Registration number is required</div>
      
            <ion-item lines="full">
                <ion-label #myFileInput > Vendor File</ion-label>
                <ion-input type="file" (change)="onVendorFileChange($event)" formControlName="vendor_registraion_file"></ion-input>
              </ion-item>
      </div>

    <ion-item lines="full">
      <ion-label position="floating">Number of Employees*</ion-label>
      <ion-input type="text" formControlName="emp_num"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorRegistraion.controls['emp_num'].hasError('required') && service.vendorRegistraion.controls['emp_num'].touched)" padding>Employee Number is required</div>
    <ion-item lines="full">
      <ion-label position="floating">Number of Clients/Customers*</ion-label>
      <ion-input type="text" formControlName="num_clients_customers"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorRegistraion.controls['num_clients_customers'].hasError('required') && service.vendorRegistraion.controls['num_clients_customers'].touched)" padding>Number of Clients/Customers is required</div>
  </form>

  <ion-button type="button" color="primary" expand="block"  [disabled]="service.vendorRegistraion.invalid" (click)="nextStep(service.vendorRegistraion.value)">Next</ion-button><br>
  <ion-button type="button" color="primary" expand="block" (click)="prevStep()">Previous</ion-button>

</ion-content>