<ion-content padding>
  <!-- <h5 style="text-align:center;padding-top:60px;">OneApt Login</h5> -->
  <div  style="text-align:center;padding-top:50px;">
      <img  src="../../assets/logo/oneAptlogo.png" style="width:100px;height:100px;">
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">User Name*</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password*</ion-label>
      <ion-input formControlName="password" type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <ion-button type="button" color="primary"  (click)=goToRegistration() expand="block">Association/Vendor Enrollment
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h5 style="text-align: left;display: inline;font-size: 13px;" (click)="forgotPassword()">Forgot Password?</h5>
    </ion-col>
    <ion-col>
      <h5 style="text-align: left;display: inline;font-size: 13px;" (click)="forgotUserName()">Forgot UserName?</h5>
    </ion-col>
  </ion-row>

</ion-content>