<ion-header>
    <ion-toolbar  class="new-background-color">
      <ion-title class="title-text">Common Area Tickets</ion-title>
      <ion-buttons class="title-text" slot="start">
        <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-card *ngFor="let comticket of comTickets" >
          <ion-item>
            <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
            <ion-label>No : # IND-{{comticket.comTicket.COM_TICKET_ID}}</ion-label>
            <div *ngIf="comticket.comTicket.indSerPlan">
               {{comticket.comTicket.indSerPlan.PLAN}}
            </div>
            <div *ngIf="comticket.comTicket.indServiceTypes">
              -  {{comticket.comTicket.indServiceTypes.TYPE}}
            </div>
      
            <!-- <ion-button fill="outline" slot="end">Accept</ion-button>
            <ion-button fill="outline" slot="end" color="danger">Reject</ion-button> -->
      
          </ion-item>
        
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                    <img style="height: 67%;width: 100%;" src="http://localhost:3000/commonAreaTickets/comImage/{{comticket.comTicket.IMG_LOCATION}}" onerror="this.src='../../../../assets/no-image.jpg';"> 
                </ion-col>
                <ion-col size="10"> 
                
                      <h6  *ngIf="comticket.comTicket.QUANTITY > 0">Quantity : {{comticket.comTicket.QUANTITY}}
                      </h6>
                      <h6  >Description : <b>{{comticket.comTicket.TICKET_DESCRIPTION}}</b>
                        </h6>
                    <h6>
                      Ticket Status: <b>{{comticket.comTicket.STATUS}}</b>
                    </h6>  
                    <div style="display: inline;">
                      <ion-button *ngIf="comticket.comTicket.IS_WORK_COMPLETED == true && comticket.comTicket.STATUS == 'Pending'"  (click)="workCompltedVerify(comticket.comTicket.COM_TICKET_ID)" fill="outline" slot="end">verify</ion-button>
                    </div>
                    <h6 *ngIf="comticket.comTicket.IS_ASSOCIATION_APPROVED == true">
                        Association Status : Approved
                      </h6>  
                      <h6 *ngIf="comticket.comTicket.IS_ASSOCIATION_APPROVED == false" >
                          Association Status : Pending
                        </h6>  
                    
               
                  </ion-col>
  
              
              </ion-row>
            </ion-grid>
            
         
        
          </ion-card-content>
        </ion-card>
  
  
    </ion-content>
