<ion-header class="header_bg">
  <ion-toolbar class="new-background-color">
    <ion-title class="title-text">Kids Exit Permit</ion-title>
    <ion-buttons class="title-text" slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-segment style="margin: 20px 0" [(ngModel)]="segment">
    <ion-segment-button value="Approved">
      <ion-label>EXIT KID</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Rejected">
      <ion-label>EXIT LIST</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'Approved'">

      <ion-card>
        <div>
          <form [formGroup]="kidsExitService.form" (ngSubmit)="kidExitPermit(kidsExitService.form.value)">
            <ion-grid>
              <!-- <ion-row>
            <ion-col size="12">
              <ion-item lines="full">
                <ion-label position="floating">Kids Name*</ion-label>
                <ion-input type="text" formControlName="kid_name"></ion-input>
              </ion-item>
              <div class="danger" *ngIf="(kidsExitService.form.controls['kid_name'].hasError('required') &&
             kidsExitService.form.controls['kid_name'].touched)" padding>Kid Name is required</div>
              <div class="danger" *ngIf="(kidsExitService.form.controls['kid_name'].hasError('minLength') &&
             kidsExitService.form.controls['kid_name'].touched)" padding>Kid Name must be atleast 3 letters</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item lines="full">
                <ion-label position="floating">Kids Age*</ion-label>
                <ion-input type="text" formControlName="kid_age"></ion-input>
              </ion-item>
              <div class="danger" *ngIf="(kidsExitService.form.controls['kid_age'].hasError('required') &&
              kidsExitService.form.controls['kid_age'].touched)" padding>Kids Age is require.</div>
              <div class="danger" *ngIf="(kidsExitService.form.controls['kid_age'].hasError('pattern') &&
              kidsExitService.form.controls['kid_age'].touched)" padding>Check your Age.
              </div>
            </ion-col> -->
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="full">
                    <ion-label position="floating">Relation Type*</ion-label>
                    <ion-select placeholder="Select One" formControlName="relation_id">
                      <ion-select-option *ngFor="let relation of relationsObj" [value]="relation.ID">
                        {{relation.RELATIVE_NAME}} - {{relation.RELATION_NAME}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <div class="danger" *ngIf="(kidsExitService.form.controls['relation_id'].hasError('required') &&
              kidsExitService.form.controls['relation_id'].touched)" padding>Relaton is required.</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="full">
                    <ion-label position="floating">Guardian Name*</ion-label>
                    <ion-input type="text" formControlName="guardian_name"></ion-input>
                  </ion-item>
                  <div class="danger" *ngIf="(kidsExitService.form.controls['guardian_name'].hasError('required') &&
             kidsExitService.form.controls['guardian_name'].touched)" padding>Guardian Name is required.</div>
                  <div class="danger" *ngIf="(kidsExitService.form.controls['guardian_name'].hasError('minLength') &&
             kidsExitService.form.controls['guardian_name'].touched)" padding>Guardian Name must be atleast 3 letters.
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="full">
                    <ion-label position="floating">Guardian Mobile Number*</ion-label>
                    <ion-input formControlName="guardian_mobile_number" type="text" required></ion-input>
                  </ion-item>
                  <div class="danger" *ngIf="(kidsExitService.form.controls['guardian_mobile_number'].hasError('required') &&
              kidsExitService.form.controls['guardian_mobile_number'].touched)" padding>Guardian Mobile Number is
                    required.</div>
                  <div class="danger" *ngIf="(kidsExitService.form.controls['guardian_mobile_number'].hasError('pattern') &&
              kidsExitService.form.controls['guardian_mobile_number'].touched)" padding>Check your Number.
                  </div>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="full">
                    <ion-label>Permit Date</ion-label>
                    <ion-datetime formControlName="permit_date" displayFormat="MM/DD/YYYY"></ion-datetime>
                  </ion-item>
                  <div class="danger" *ngIf="(kidsExitService.form.controls['permit_date'].hasError('required') &&
                 kidsExitService.form.controls['permit_date'].touched)" padding>Permit Date is required.</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item lines="full">
                    <ion-label>Permit Time</ion-label>
                    <ion-datetime formControlName="permit_time" displayFormat="HH:mm:ss"></ion-datetime>
                  </ion-item>
                  <div class="danger" *ngIf="(kidsExitService.form.controls['permit_time'].hasError('required') &&
                 kidsExitService.form.controls['permit_time'].touched)" padding>Permit Time is required.</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button style="width:100%; margin-top:10%;" size="medium" color="danger" type="submit"
                    [disabled]="!kidsExitService.form.valid">
                    Submit</ion-button>
                </ion-col>

              </ion-row>
            </ion-grid>

          </form>
        </div>
      </ion-card>

    </div>

    <div *ngSwitchCase="'Rejected'">
      <ion-card *ngFor="let list of exitData">
        <ion-item>
          <ion-label>No: #Request-{{list.ID}}</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h6> GUARDIAN NAME : <b>{{list.GUARDIAN_NAME}}</b> </h6>
                <h6> GUARDIAN MOBILE NUMBER : <b>{{list.GUARDIAN_MOBILE_NUMBER}}</b> </h6>

                <h6 *ngIf="list.IS_EXIT == true">
                  Kid Exit Status : <b>Approved</b>
                </h6>
                <h6 *ngIf="list.IS_EXIT == false">
                  Kid Exit Status :<b>Pending</b>
                </h6>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>