<ion-header class="header_bg">
    <ion-toolbar class="new-background-color">
      <ion-title class="title-text">Association Common Area Tickets</ion-title>
      <ion-buttons  class="title-text" slot="start">
        <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-card *ngFor="let comTicket of comTickets" >
          <ion-item>
            <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
            <ion-label>No : # IND-{{comTicket.COM_TICKET_ID}}</ion-label>
            <div *ngIf="comTicket.indSerPlan">
               {{comTicket.indSerPlan.PLAN}}
            </div>
            <div *ngIf="comTicket.indServiceTypes">
              -  {{comTicket.indServiceTypes.TYPE}}
            </div>
      
            <!-- <ion-button fill="outline" slot="end">Accept</ion-button>
            <ion-button fill="outline" slot="end" color="danger">Reject</ion-button> -->
      
          </ion-item>
        
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                    <img style="height: 67%;width: 100%;" src="http://localhost:3000/commonAreaTickets/comImage/{{comTicket.IMG_LOCATION}}"> 
                </ion-col>
                <ion-col size="10"> 
                
                      <h6 style="display: inline;" *ngIf="comTicket.QUANTITY > 0">Quantity : {{comTicket.QUANTITY}}
                      </h6>
                    <h6 style="display: inline;">
                      Status: <b>{{comTicket.STATUS}}</b>
                    </h6>     
                    <!-- <h6 style="display: inline;">
                      AMOUNT : <b>{{indTicketAmount(indticket)}}</b>
                    </h6>  -->
                    <div *ngIf="!getComAssociationAction(comTicket.mapAssCom)">
                        <ion-button (click)="accept(comTicket.COM_TICKET_ID)"   fill="outline" slot="end">Approve</ion-button>
                        <ion-button (click)="reject(comTicket.COM_TICKET_ID)"     fill="outline" slot="end">Reject</ion-button>
                    </div>
                    <h6 *ngIf="getComAssociationAction(comTicket.mapAssCom)"> Status : {{getComAssociationStatus(comTicket.mapAssCom)}}  </h6>

                    <h6 *ngIf="comTicket.IS_ASSOCIATION_APPROVED == true">
                      Association Status : Approved
                    </h6>  
                    <h6 *ngIf="comTicket.IS_ASSOCIATION_APPROVED == false" >
                        Association Status : Pending
                      </h6>  
                  
                  <div style="display: inline;">
                      <ion-button *ngIf="comTicket.IS_WORK_COMPLETED == true && comTicket.STATUS == 'Pending'"  (click)="workCompltedVerify(comTicket.COM_TICKET_ID)" fill="outline" slot="end">verify</ion-button>
                    </div>
                 <!--  <div style="display: inline;" *ngIf="!getTicketOtp(indticket.indTicketOtp) && indticket.STATUS == 'Pending'">
                      <ion-button  (click)="resendOtp(indticket.IND_TICKET_ID)" fill="outline" slot="end">Resend Otp</ion-button>
                    </div> -->
                    
                  </ion-col>
  
              
              </ion-row>
            </ion-grid>
            
         
        
          </ion-card-content>
        </ion-card>
  
  
    </ion-content>