<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="title-text">Individual Tickets</ion-title>
    <ion-buttons class="title-text" slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let indticket of indTickets">
    <ion-item>
      <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
      <ion-label>No : # IND-{{indticket.IND_TICKET_ID}}</ion-label>
      <div *ngIf="indticket.indSerPlan">
        {{indticket.indSerPlan.PLAN}}
      </div>
      <div *ngIf="indticket.indServiceTypes">
        - {{indticket.indServiceTypes.TYPE}}
      </div>

      <!-- <ion-button fill="outline" slot="end">Accept</ion-button>
          <ion-button fill="outline" slot="end" color="danger">Reject</ion-button> -->

    </ion-item>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2">

            <img style="height: 67%;width: 100%;"
              src="http://localhost:3000/indTickets/indImage/{{indticket.IMG_LOCATION}}"
              onerror="this.src='../../../../assets/no-image.jpg';">
          </ion-col>
          <ion-col size="10">
            <h6>
              Date - Time :
              <b> {{indticket.TICKET_DATE | date:medium}} - {{indticket.TICKET_TIME}}</b>
            </h6>
            <h6 style="display: inline;" *ngIf="getTicketOtp(indticket.indTicketOtp) && getTicketAssigmed(indticket.mapIndVendor)">Otp Number :
              {{getTicketOtp(indticket.indTicketOtp)}}</h6> &nbsp; &nbsp;

            <h6 style="display: inline;" *ngIf="indticket.QUANTITY > 0">Quantity : {{indticket.QUANTITY}}
            </h6>
            <h6 style="display: inline;">
              Status: <b>{{indticket.STATUS}}</b>
            </h6>
            <h6 style="display: inline;">
              AMOUNT : <b>{{indTicketAmount(indticket)}}</b>
            </h6>
            <div style="display: inline;">
              <ion-button *ngIf="getVendorWorkCmopleted(indticket.indTicketOtp)"
                (click)="workCompltedVerify(indticket.mapIndVendor,indticket.IND_TICKET_ID,indticket.indSerPlan.PLAN)"
                fill="outline" slot="end">verify</ion-button>
            </div>
            <div style="display: inline;"
              *ngIf="!getTicketOtp(indticket.indTicketOtp) && indticket.STATUS == 'Pending'">
              <ion-button (click)="resendOtp(indticket.IND_TICKET_ID)" fill="outline" slot="end">Resend Otp</ion-button>
            </div>

          </ion-col>


        </ion-row>
      </ion-grid>



    </ion-card-content>
  </ion-card>


</ion-content>