<app-secuirty-header></app-secuirty-header>
  <ion-content>

      <ion-segment style="margin: 20px 0" [(ngModel)]="segment">
          <ion-segment-button value="vendors">
            <ion-label>Vendors</ion-label>
          </ion-segment-button>
          <ion-segment-button value="visitors">
            <ion-label>Visitors</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="segment">
          <div *ngSwitchCase="'vendors'">
              <ion-card *ngFor="let vendor of vendorCheckedInList" >
                  <ion-item>
                    <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
                    <ion-label>Name : {{vendor.vendor.VENDOR_NAME}} &nbsp;   Persons  :  {{vendor.PERSONS}}</ion-label>
               
              
                  </ion-item>
                
                  <ion-card-content>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="2">
                            <img style="height: 67%;width: 100%;" src="http://localhost:3000/visitor/vendorPic/{{vendor.VV_PIC}}" onerror="this.src='../../../../assets/no-image.jpg';"> 
                        </ion-col>
                        <ion-col size="10"> 
                            <h6> Mobile No: {{vendor.vendor.VENDOR_MOBILE_NUMBER}}</h6>
                        <h6>
                              Check In  :
                              <b> {{vendor.CHECK_IN_TIME | date:medium}} - {{vendor.CHECK_IN_TIME | date: "shortTime"}}</b>
                            </h6>    
                           
                             <div *ngIf="vendor.IS_CHECKED_IN == true && vendor.IS_CHECKED_OUT == false">
                                <ion-button fill="outline"  (click)="vendorCheckOut(vendor.VENDOR_CHECK_IND_ID)"  slot="end">Check Out</ion-button>
                            </div>
                          </ion-col>
          
                      
                      </ion-row>
                    </ion-grid>
                    
                 
                
                  </ion-card-content>
                </ion-card>
          </div>
         
          <div *ngSwitchCase="'visitors'">

              <ion-card *ngFor="let visitor of visitorCheckedInList" >
                  <ion-item>
                    <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
                    <ion-label>Name : {{visitor.VISITOR_NAME}} &nbsp;   Persons  :  {{visitor.COUNT}}</ion-label>
               
              
                  </ion-item>
                
                  <ion-card-content>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="2">
                            <img style="height: 67%;width: 100%;" src="http://localhost:3000/visitor/visitorPic/{{visitor.VISITIOR_PIC}}" onerror="this.src='../../../../assets/no-image.jpg';"> 
                        </ion-col>
                        <ion-col size="10"> 
                            <h6> Mobile No: {{visitor.VISITOR_MOBILE_NUMBER}}</h6>
                        <h6>
                              Check In  :
                              <b> {{visitor.CHECKED_IN_DATE | date:short}} - {{visitor.CHECKED_IN_TIME }}</b>
                            </h6>    
                           
                             <div *ngIf="visitor.IS_CHECKED_IN == true && visitor.IS_CHECKED_OUT == false">
                                <ion-button fill="outline"  (click)="visitorCheckOut(visitor.ID)"  slot="end">Check Out</ion-button>
                            </div>
                          </ion-col>
          
                      
                      </ion-row>
                    </ion-grid>
                    
                 
                
                  </ion-card-content>
                </ion-card>
            </div>

          </div>
    
  
  
    </ion-content>
