
<ion-content class="main-view">
    <div class="overlay" (click)="modal_close()"></div>
    <div class="modal_content">
      <h2 style="text-align: center;"  *ngIf="role == 'vendor'">Vendor - {{ vendorObj.VENDOR_NAME}}</h2>
      <h2 style="text-align: center;"  *ngIf="role == 'visitor'">Visitor</h2>
    
  <form [formGroup]="vservice.form" *ngIf="role == 'vendor'"  (ngSubmit)="onSubmit(vservice.form)" novalidate>
      <ion-item>
          <ion-label>Select Area</ion-label>
          <ion-select #selectedArea  formControlName="serArea" (ionChange)="onChangeArea($event)" placeholder="Select One">
            <ion-select-option value="Individual" selected>Individual Area</ion-select-option>
            <ion-select-option value="Common">Commona Area</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item *ngIf="selectedArea.value == 'Individual'">
            <ion-label >Indvidual Services</ion-label>
            <ion-select formControlName="indService" placeholder="Select One">
              <ion-select-option *ngFor="let indServiceList of indServicesArray" [value]="indServiceList.indServices.IND_SERVICE_ID" >{{indServiceList.indServices.IND_SERVICE_NAME}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item  *ngIf="selectedArea.value == 'Common'">
              <ion-label>Common Services</ion-label>
              <ion-select formControlName="comService" placeholder="Select One">
                  <ion-select-option *ngFor="let comServiceList of comServicesArray" [value]="comServiceList.comServices.COM_SERVICE_ID" >{{comServiceList.comServices.COM_SERVICE_NAME}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="selectedArea.value == 'Individual'">
                <ion-label>Block   </ion-label>
                <ion-select formControlName="block" (ionChange)="onChangeBlock($event)" placeholder="Select One">
                    <ion-select-option *ngFor="let childEntity of childEntites" [value]="childEntity.APPARTMENT_CHILD_ENTITY_ID" >{{childEntity.CHILD_NAME}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="selectedArea.value == 'Individual'">
                  <ion-label>Flat's </ion-label>
                  <ion-select formControlName="flats" placeholder="Select One">
                      <ion-select-option *ngFor="let grandchildEntity of grandChildEntites" [value]="grandchildEntity.APPARTMENT_GRAND_CHILD_ENTITY_ID" >{{grandchildEntity.GARND_CHILD_NAME}}</ion-select-option>
                    </ion-select>
                  
               
                </ion-item>
              <ion-item>
                  <ion-label>Person's </ion-label>
                  <ion-input type="text" formControlName="persons" value=""></ion-input>

                </ion-item>
                <ion-item>
                    <ion-label>Select Pic </ion-label>
                    <ion-input  (change)="onVendorPicChange($event)" type="file" formControlName="vendor_pic" value="custom"></ion-input>
  
                  </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" [disabled]="!vservice.form.valid" color="primary" expand="block">Check In</ion-button>
        </ion-col>
      </ion-row>
    </form>

        
  <form [formGroup]="vservice.visitorform" *ngIf="role == 'visitor'"  (ngSubmit)="onVisitorSubmit(vservice.visitorform)" novalidate>
    <h6>Visitor Name : {{vendorObj.VISITOR_NAME}} </h6>
    <h6>Visitor Mobile Number : {{vendorObj.VISITOR_MOBILE_NUMBER}} </h6>
    <h6>Owner Approved : {{vendorObj.IS_OWNER_APPROVED}}</h6>
      <ion-item>
          <ion-label>Select Pic </ion-label>
          <ion-input  (change)="onVisitorPicChange($event)" type="file" formControlName="visitor_pic" value="custom"></ion-input>

        </ion-item>

        <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="!vservice.visitorform" color="primary" expand="block">Check In</ion-button>
            </ion-col>
          </ion-row>
    </form>
    </div>
  </ion-content>