<app-secuirty-header></app-secuirty-header>
<ion-content>

    <ion-card>
        <ion-item>
            <ion-input #handover placeholder="Enter Unique Number"></ion-input>
            <ion-button (click)="checkHandover(handover.value)" fill="outline" slot="end">Check</ion-button>
        </ion-item>
    </ion-card>
    <ion-segment style="margin: 20px 0" [(ngModel)]="segment">
        <ion-segment-button value="Pickup">
            <ion-label>SECURITY PICKUP</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Handover">
            <ion-label>HANDOVER</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">

        <div *ngSwitchCase="'Pickup'">
            <ion-card *ngFor="let list of pickupRequestData">
                <ion-item>
                    <ion-label>No: #Request-{{list.ID}}</ion-label>
                </ion-item>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <h6> VISITOR TYPE: <b>{{list.vType.TYPE}}</b></h6>
                                <h6 *ngIf="list.COMPANY_NAME == null || list.COMPANY_NAME != '' "> COMPANY NAME :
                                    <b>{{list.COMPANY_NAME}}</b></h6>
                                <h6 *ngIf="list.GUEST_NAME == null || list.GUEST_NAME != '' "> GUEST NAME :
                                    <b>{{list.GUEST_NAME}}</b>
                                </h6>
                                <h6> QUANTITY: <b>{{list.QUANTITY}}</b></h6>
                                <div *ngIf="list.IS_SECURITY_PICKUP == false && list.IS_SECURITY_HANDOVER == false">
                                    <h6>
                                        ParcelPickup : <b>Not Delivered</b>
                                    </h6>
                                    <h6>
                                        Parcel HandOver : <b>Not Delivered</b>
                                    </h6>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <div *ngIf="list.IS_SECURITY_PICKUP == false">
                                    <ion-button (click)="pickedUp(list.ID)" fill="outline" slot="end">
                                        PickedUp
                                    </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </div>

        <div *ngSwitchCase="'Handover'">
            <ion-card *ngFor="let list of handoverData">
                <ion-item>
                    <ion-label>No: #Request-{{list.ID}}</ion-label>
                </ion-item>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <h6> VISITOR TYPE: <b>{{list.vType.TYPE}}</b></h6>
                                <h6 *ngIf="list.COMPANY_NAME == null || list.COMPANY_NAME != '' "> COMPANY NAME :
                                    <b>{{list.COMPANY_NAME}}</b></h6>
                                <h6 *ngIf="list.GUEST_NAME == null || list.GUEST_NAME != '' "> GUEST NAME :
                                    <b>{{list.GUEST_NAME}}</b>
                                </h6>
                                <h6> QUANTITY: <b>{{list.QUANTITY}}</b></h6>
                                <div *ngIf="list.IS_SECURITY_PICKUP == true && list.IS_SECURITY_HANDOVER == false">
                                    <h6>
                                        ParcelPickup : <b>Ready To Handover</b>
                                    </h6>
                                    <h6>
                                        Parcel HandOver : <b>Not Handover</b>
                                    </h6>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <div *ngIf="list.IS_SECURITY_HANDOVER == false">
                                    <ion-button (click)="handOver(list.ID)" fill="outline" slot="end">
                                        Handover
                                    </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </div>

    </div>

</ion-content>