<ion-header>
  <ion-toolbar>
      <ion-title style="text-align:center;">OneApt Registration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <h6 style="text-align:center;">Data Range Information (Step - 5/6)</h6>
 <form [formGroup]="service.associationSubRegistraion" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Data Range *</ion-label>
      <ion-input type="text" formControlName="data_range"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.associationSubRegistraion.controls['data_range'].hasError('required') && service.associationSubRegistraion.controls['data_range'].touched)" padding>Data Range is required</div>
    <ion-item lines="full">
      <ion-label position="floating">Number of Report Cards*</ion-label>
      <ion-input type="text" formControlName="no_of_report_cards"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.associationSubRegistraion.controls['no_of_report_cards'].hasError('required') && service.associationSubRegistraion.controls['no_of_report_cards'].touched)" padding>Number of report card is required</div>
    <ion-item lines="full">
      <ion-label position="floating">Number of Flats for Registration*</ion-label>
      <ion-input type="text" formControlName="no_of_flats_for_registration"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.associationSubRegistraion.controls['no_of_flats_for_registration'].hasError('required') && service.associationSubRegistraion.controls['no_of_flats_for_registration'].touched)" padding>Number of flats per registraion is required</div>
    <ion-item lines="full">
      <ion-label position="floating">Number of Employee Login Required*</ion-label>
      <ion-input type="text" formControlName="no_of_employee_login"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.associationSubRegistraion.controls['no_of_employee_login'].hasError('required') && service.associationSubRegistraion.controls['no_of_employee_login'].touched)" padding>Employee Login is required</div>
    <ion-list>
      <ion-label>Communication Modes*</ion-label>
      <ion-item lines="full">
        <ion-label>Email</ion-label>
        <ion-checkbox color="primary" slot="start" formControlName="email_mode"></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-label>SMS</ion-label>
        <ion-checkbox color="primary" slot="start" formControlName="sms_mode"></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-label>What's App</ion-label>
        <ion-checkbox color="primary" slot="start" formControlName="whatsApp_mode"></ion-checkbox>
      </ion-item>
    </ion-list>

     <ion-item lines="full">
       <ion-label position="floating">List of Activities Required Communication*</ion-label>
       <ion-input type="text" formControlName="act_req_communication"></ion-input>
     </ion-item>
     <div class="danger"  *ngIf="(service.associationSubRegistraion.controls['act_req_communication'].hasError('required') && service.associationSubRegistraion.controls['act_req_communication'].touched)" padding>List of activities is required</div>
     <ion-item lines="full">
       <ion-label position="floating">Association payment*</ion-label>
       <ion-input type="text" formControlName="ass_payment"></ion-input>
     </ion-item>
     <div class="danger"  *ngIf="(service.associationSubRegistraion.controls['ass_payment'].hasError('required') && service.associationSubRegistraion.controls['ass_payment'].touched)" padding>Association Payment is required</div>
  </form> 
  <ion-button type="button" color="primary" expand="block" [disabled]="service.associationSubRegistraion.invalid" (click)="nextStep(service.associationSubRegistraion.value)">Next</ion-button><br>
  <ion-button type="button" color="primary" expand="block" (click)="prevStep()">Previous</ion-button>
</ion-content>