.hide-card {
    -webkit-box-shadow: none!important;
    text-align: center;
    border-bottom: 1px solid black;
    background-color : #3F51B5
  }
  
  .custom-avatar {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    float: left;
  //  display: inline-block;
    // text-align: center;
  }
  .font-size{
    padding-top: 30px;
    font-size : 17px;
    color : white;
  }