<ion-menu  contentId="content1" side="start">
  <div class="hide-card">


      <img *ngIf="flatOwner"  (click)="redirectProdile()" src="http://localhost:3000/flatOwners/flatOwnerImage/{{ImageName}}" onerror="this.src='assets/user.png'" class="custom-avatar" />
      <img *ngIf="flatTenant"  (click)="redirectProdile()" src="http://localhost:3000/flatTenants/flatTenantImage/{{ImageName}}" onerror="this.src='assets/user.png'" class="custom-avatar" />
      <img *ngIf="vendor"  (click)="redirectProdile()" src="http://localhost:3000/vendor/vendorImage/{{ImageName}}" onerror="this.src='assets/user.png'" class="custom-avatar" />
       
          <h2 class="font-size">{{this.loginUserName}}</h2>
  </div>

  <ion-content>
    <ion-list *ngFor="let pages of navigate">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
               {{pages.title}} 
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
  </ion-content>
</ion-menu>
<ion-app>
    <!-- {{loginStatus}} -->
  
      <ion-router-outlet id="content1" main></ion-router-outlet>
    </ion-app>