<ion-header>
  <ion-toolbar>
      <ion-title style="text-align:center;">OneApt Registration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <form [formGroup]="service.vendorSubRegistraion" novalidate>
    <h6 style="text-align:center;">Data Range Information (Step - 5/6)</h6>
    <ion-item lines="full">
      <ion-label position="floating">Data Range *</ion-label>
      <ion-input type="text" formControlName="data_range"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorSubRegistraion.controls['data_range'].hasError('required') && service.vendorSubRegistraion.controls['data_range'].touched)" padding>Date Range is required</div>
    <ion-item lines="full">
      <ion-label position="floating">Number of Report Cards*</ion-label>
      <ion-input type="text" formControlName="no_of_report_cards"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorSubRegistraion.controls['no_of_report_cards'].hasError('required') && service.vendorSubRegistraion.controls['no_of_report_cards'].touched)" padding>Number Report Card is required</div>
    <ion-item lines="full">
      <ion-label position="floating">Number of Clients/Customers for Registration*</ion-label>
      <ion-input type="text" formControlName="no_of_clients_customers_for_registration"></ion-input>
      <div class="danger"  *ngIf="(service.vendorSubRegistraion.controls['no_of_clients_customers_for_registration'].hasError('required') && service.vendorSubRegistraion.controls['no_of_clients_customers_for_registration'].touched)" padding>Number Clients/Customer registtraion is required</div>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Number of Employee Login Required*</ion-label>
      <ion-input type="text" formControlName="no_of_employee_login"></ion-input>
      <div class="danger"  *ngIf="(service.vendorSubRegistraion.controls['no_of_employee_login'].hasError('required') && service.vendorSubRegistraion.controls['no_of_employee_login'].touched)" padding>Number of employee Login is required</div>
    </ion-item>
    <ion-list>
      <ion-label>Communication Modes*</ion-label>
      <ion-item lines="full">
        <ion-label>Email</ion-label>
        <ion-checkbox color="primary" slot="start" formControlName="email_mode"></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-label>SMS</ion-label>
        <ion-checkbox color="primary" slot="start" formControlName="sms_mode"></ion-checkbox>
      </ion-item>
      <ion-item lines="full">
        <ion-label>What's App</ion-label>
        <ion-checkbox color="primary" slot="start" formControlName="whatsApp_mode"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-item lines="full">
      <ion-label position="floating">List of Activities Required Communication*</ion-label>
      <ion-input type="text" formControlName="act_req_communication"></ion-input>
    </ion-item>
    <div class="danger"  *ngIf="(service.vendorSubRegistraion.controls['act_req_communication'].hasError('required') && service.vendorSubRegistraion.controls['act_req_communication'].touched)" padding>List of activites is required</div>
  </form> 
  <ion-button type="button" color="primary" [disabled]="service.vendorSubRegistraion.invalid" expand="block" (click)="nextStep(service.vendorSubRegistraion.value)">Next</ion-button><br>
  <ion-button type="button" color="primary" expand="block" (click)="prevStep()">Previous</ion-button>
</ion-content>