<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="title-text">View Voting Result</ion-title>
    <ion-buttons class="title-text" slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <h6>Voting Result</h6>
            <div>
              <canvas baseChart [labels]="doughnutChartLabels" [data]="doughnutChartData"
                [chartType]="doughnutChartType" [options]="donutOptions"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>

  <ion-segment style="margin: 20px 0" [(ngModel)]="segment">
    <ion-segment-button value="Approved">
      <ion-label>Approved</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Rejected">
      <ion-label>Rejected</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'Approved'">
      <ion-card *ngFor="let list of votingData">
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="list.IS_APPROVED == true">
              <h6>Flat Owner: <span> {{list.flatOwners.OWNER_FIRST_NAME}}</span></h6>
              <p> Comments: <span> {{list.COMMENTS}} </span></p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <div *ngSwitchCase="'Rejected'">
      <ion-card *ngFor="let list of votingData">
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="list.IS_REJECTED == true">
              <h6>Flat Owner: <span> {{list.flatOwners.OWNER_FIRST_NAME}}</span></h6>
              <p> Comments: <span> {{list.COMMENTS}} </span></p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  
    <ion-card ></ion-card>



  </div>

</ion-content>