<app-secuirty-header></app-secuirty-header>

<ion-content>
    <ion-card *ngFor="let list of kidsExitList">
        <ion-item>
            <ion-label>Kids Exit Id: {{ list.ID }} </ion-label>
        </ion-item>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h6>
                            GUARDIAN NAME: <b> {{list.GUARDIAN_NAME}}</b>
                        </h6>
                        <h6>
                            GUARDIAN Number: <b> {{list.GUARDIAN_MOBILE_NUMBER}}</b>
                        </h6>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div *ngIf="list.IS_EXIT == false">
                            <ion-button (click)="approve(list.ID)" fill="outline" slot="end">
                                Approve
                            </ion-button>
                            <!-- <ion-button (click)="rejected(list.ID)" fill="outline" slot="end">
                                Rejected
                            </ion-button> -->
                        </div>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>