
<ion-header >
    <ion-toolbar class="new-background-color">
      <ion-title class="title-text">Individual Service Subscription</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button class="title-text" autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div style="text-align: center;">
          <img height="{{imgHeight}}" width="100%"  src="http://localhost:3000/indService/indServiceImage/{{serviceImgName}}" onError="this.src='assets/com/404.svg'" alt="ion">
        </div>
      <ion-card>
      
      
          <ion-card-content>
              <h3 style="font-weight: bold;">{{serviceName}}</h3>
            <h4 style="font-weight: bold;">{{serviceDescription}}</h4>
      
      
       <form [formGroup]="indService.form"   novalidate (ngSubmit)="save(indService.form)">

        <ion-grid>
          <ion-row>
            <ion-col size="12">
                <ion-item lines="full">
                    <ion-label position="floating">Ticket Description*</ion-label>
                    <ion-input formControlName="ticket_description" type="text"></ion-input>
                  </ion-item>
                
                  <div class="danger" *ngIf="(indService.form.controls['ticket_description'].hasError('required') && indService.form.controls['ticket_description'].touched)" padding>Description is required</div>
            </ion-col>

            <ion-col size="6">
   
                <ion-item>
                    <ion-label>Ticket Date</ion-label>
                    <ion-datetime  formControlName="ticket_date"  displayFormat="MM/DD/YYYY" ></ion-datetime>
                  </ion-item>
                  <div class="danger" *ngIf="(indService.form.controls['ticket_date'].hasError('required') && indService.form.controls['ticket_date'].touched)" padding>Date is required</div>
                
            </ion-col>
            <ion-col size="6">
                <ion-item>
                  
                <ion-label>Ticket Time</ion-label>
                <ion-datetime  formControlName="ticket_time"  displayFormat="HH:mm:ss" ></ion-datetime>
              </ion-item>
              <div class="danger" *ngIf="(indService.form.controls['ticket_time'].hasError('required') && indService.form.controls['ticket_time'].touched)" padding>Time is required</div>
              </ion-col>


              <ion-col size="6">
                  <ion-item lines="full">
                      <ion-label position="floating">Service Subscription*</ion-label>
                      <ion-select placeholder="Select One" (ionChange)="checkUnitWise($event)" formControlName="service_subscription_id">
                          <ion-select-option *ngFor="let sub of mapServSub" [value] = "sub.indServicesPlan.IND_SERVICE_PLAN_ID" >{{sub.indServicesPlan.PLAN}}
                          </ion-select-option>
                      </ion-select>
                    </ion-item>
          
                    
                    <div class="danger" *ngIf="(indService.form.controls['service_subscription_id'].hasError('required') && indService.form.controls['service_subscription_id'].touched)" padding>Service Subscription is required</div>
              </ion-col>
              
              <ion-col size="6">
                  <div *ngIf="indServiceTypes.length > 0">
                      <ion-item lines="full">
                        <ion-label position="floating">Service Type*</ion-label>
                        <ion-select placeholder="Select One" formControlName="service_types_id">
                            <ion-select-option *ngFor="let sub of indServiceTypes" [value] = "sub.IND_SERVICE_TYPE_ID" >{{sub.TYPE}}
                            </ion-select-option>
                        </ion-select>
                      </ion-item> 
               
                      <div class="danger" *ngIf="(indService.form.controls['service_types_id'].hasError('required') && indService.form.controls['service_types_id'].touched)" padding>Service Type is required</div> 
                    </div>
             
                </ion-col>

          </ion-row>
        </ion-grid>

        <div *ngIf="planId">
            <ion-item lines="full">
              <ion-label position="floating">Quantity*</ion-label>
              <ion-input formControlName="quantity" type="text"></ion-input>
            </ion-item>
            <div class="danger" *ngIf="(indService.form.controls['quantity'].hasError('required') && indService.form.controls['quantity'].touched)" padding>Quantity is required</div> 
          </div>
         
           
            
              <ion-item lines="full">
                  <ion-label >Select Image</ion-label>
                  <ion-input (change)="onTicketFileChange($event)"  formControlName="ticket_img" type="file"></ion-input>
                </ion-item>
                <ion-button type="submit" color="primary" expand="block" [disabled]="indService.form.invalid" >Save</ion-button>
        
        </form> 
          </ion-card-content>
      
      
        </ion-card>

  </ion-content>
   
