<ion-header>
    <ion-toolbar>
      <ion-title style="text-align:center;">OneApt Registration</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <h6 style="text-align:center;">Basic Information (Step - 1/6)</h6>
    <form [formGroup]="service.form"   novalidate>
      <ion-item lines="full">
        <ion-label position="floating">Full Name*</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
    
      <div class="danger" *ngIf="(service.form.controls['name'].hasError('required') && service.form.controls['name'].touched)" padding>Name is required</div>
      <ion-item lines="full">
        <ion-label position="floating">Email*</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="danger" *ngIf="(service.form.controls['email'].hasError('required') && service.form.controls['email'].touched)" padding>Email is required</div>
      <div class="danger" *ngIf="(service.form.controls['email'].hasError('email') && service.form.controls['email'].touched)" padding>Invalid Email Pattern</div>
  
      <ion-item lines="full">
        <ion-label position="floating">Mobile*</ion-label>
        <ion-input  formControlName="mobile" type="text" required></ion-input>
      </ion-item>
      <div class="danger" *ngIf="(service.form.controls['mobile'].hasError('required') && service.form.controls['mobile'].touched)" padding>Mobile is required</div>
      <div class="danger" *ngIf="(service.form.controls['mobile'].hasError('minlength') && service.form.controls['mobile'].touched)" padding>Mobile Number must have minimum length 10</div>
      <div class="danger" *ngIf="(service.form.controls['mobile'].hasError('maxlength') && service.form.controls['mobile'].touched)" padding>Mobile Number must have  maximum length 10</div>
      <ion-row>
        <ion-col>
          <ion-button type="button" color="primary" expand="block" [disabled]="service.form.invalid"  (click)="nextStep(service.form)">Next  </ion-button>
        </ion-col>
      </ion-row>
    </form> 
    <ion-row>
      <ion-col>
          <ion-button type="button" color="primary" (click)=goToLogin()  expand="block">Login
          </ion-button>
      </ion-col>
    </ion-row>

  </ion-content>