<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">OneApt Registration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h6 style="text-align:center;">President Information (Step - 4/6)</h6>
  <form [formGroup]="service.associationPresident" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">President Name*</ion-label>
      <ion-input type="text" formControlName="ass_president_name"></ion-input>
    </ion-item>
    <div class="danger"
      *ngIf="(service.associationPresident.controls['ass_president_name'].hasError('required') && service.associationPresident.controls['ass_president_name'].touched)"
      padding>President Name is required</div>
      <div class="danger" *ngIf="(service.associationPresident.controls['ass_president_name'].hasError('minlength') &&
      service.associationPresident.controls['ass_president_name'].touched)" padding>President Name must have minimum
        length 3</div>
    <ion-item lines="full">
      <ion-label position="floating">President email*</ion-label>
      <ion-input type="email" formControlName="ass_president_email"></ion-input>
    </ion-item>
    <div class="danger"
      *ngIf="(service.associationPresident.controls['ass_president_email'].hasError('required') && service.associationPresident.controls['ass_president_email'].touched)"
      padding>President Email is required</div>
    <div class="danger" *ngIf="(service.associationPresident.controls['ass_president_email'].hasError('email') &&
      service.associationPresident.controls['ass_president_email'].touched)" padding>
      Invalid Email Pattern</div>
    <ion-item lines="full">
      <ion-label position="floating">President Mobile*</ion-label>
      <ion-input type="text" formControlName="ass_president_mobile"></ion-input>
    </ion-item>

    <div class="danger"
      *ngIf="(service.associationPresident.controls['ass_president_mobile'].hasError('required') && service.associationPresident.controls['ass_president_mobile'].touched)"
      padding>President Mobile is required</div>
    <div class="danger"
      *ngIf="(service.associationPresident.controls['ass_president_mobile'].hasError('minlength') &&
      service.associationPresident.controls['ass_president_mobile'].touched)"
      padding>Mobile Number must have minimum length 10</div>
    <div class="danger"
      *ngIf="(service.associationPresident.controls['ass_president_mobile'].hasError('maxlength') &&
      service.associationPresident.controls['ass_president_mobile'].touched)"
      padding>Mobile Number must have maximum length 10</div>
    <ion-item lines="full">
      <ion-label position="floating">President Address*</ion-label>
      <ion-textarea rows="3" cols="20" formControlName="ass_president_address"></ion-textarea>
    </ion-item>
    <div class="danger"
      *ngIf="(service.associationPresident.controls['ass_president_address'].hasError('required') && service.associationPresident.controls['ass_president_address'].touched)"
      padding>President Address is required</div>
    <ion-list>
      <!-- <ion-label>Number of Parking Slots*</ion-label> -->
      <ion-item lines="full">
        <ion-label position="floating">Number of Parking Slots*</ion-label>
        <ion-input type="text" formControlName="no_parking_slots"></ion-input>
      </ion-item>
      <div class="danger"
        *ngIf="(service.associationPresident.controls['no_parking_slots'].hasError('required') && service.associationPresident.controls['no_parking_slots'].touched)"
        padding>Number of parking slots required</div>
      <ion-item lines="full">
        <ion-label position="floating">Number of 2 Wheelers parking slots*</ion-label>
        <ion-input type="text" formControlName="no_of_2_wheelers"></ion-input>
      </ion-item>
      <div class="danger"
        *ngIf="(service.associationPresident.controls['no_of_2_wheelers'].hasError('required') && service.associationPresident.controls['no_of_2_wheelers'].touched)"
        padding>Number of 2 wheelers required</div>
      <ion-item lines="full">
        <ion-label position="floating">Number of 4 Wheelers parking slots*</ion-label>
        <ion-input type="text" formControlName="no_of_4_wheelers"></ion-input>
      </ion-item>
      <div class="danger"
        *ngIf="(service.associationPresident.controls['no_of_4_wheelers'].hasError('required') && service.associationPresident.controls['no_of_4_wheelers'].touched)"
        padding>Number of 4 wheelers required</div>
      <ion-item>
        <ion-label position="floating">Ambulance Parking*</ion-label>
        <ion-select placeholder="Select One" formControlName="ambulance_parking">
          <ion-select-option value="yes">Yes</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="danger"
        *ngIf="(service.associationPresident.controls['ambulance_parking'].hasError('required') && service.associationPresident.controls['ambulance_parking'].touched)"
        padding>Amubulane Parking required</div>
    </ion-list>

    <ion-item>
      <ion-label position="floating">Visitors Vehicle*</ion-label>
      <ion-select placeholder="Select One" formControlName="visitor_vehicle">
        <ion-select-option value="yes">Allowed</ion-select-option>
        <ion-select-option value="no">Not Allowed</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <ion-button type="button" color="primary" [disabled]="service.associationPresident.invalid" expand="block"
    (click)="nextStep(service.associationPresident.value)">Next</ion-button><br>
  <ion-button type="button" color="primary" expand="block" (click)="prevStep()">Previous</ion-button>
</ion-content>