
<ion-content class="main-view">
    <div class="overlay" (click)="modal_close()"></div>
    <div class="modal_content">
      <h2 style="text-align: center;">Invite Visitor</h2>
       
      <form [formGroup]="oWService.securiteInviteform"   novalidate (ngSubmit)="save(oWService.securiteInviteform)">

          <ion-grid>
            <ion-row>
              <ion-col size="12">
                  <ion-item lines="full">
                      <ion-label position="floating">Visitor Name*</ion-label>
                      <ion-input formControlName="visitorName" type="text"></ion-input>
                    </ion-item>
                  
                    <div class="danger" *ngIf="(oWService.securiteInviteform.controls['visitorName'].hasError('required') && oWService.securiteInviteform.controls['visitorName'].touched)" padding>Visitor Name is required</div>
              </ion-col>
              <ion-col size="6">
                <ion-item lines="full">
                    <ion-label position="floating">Visitor Type*</ion-label>
    
                    <ion-select placeholder="Select One" formControlName="visitorType">
                      <ion-select-option *ngFor="let type of visitorTypes" [value] = "type.ID" >{{type.TYPE}}
                      </ion-select-option>
                  </ion-select>
                  </ion-item>
                
                  <div class="danger" *ngIf="(oWService.securiteInviteform.controls['visitorType'].hasError('required') && oWService.securiteInviteform.controls['visitorType'].touched)" padding>Visitor Type is required</div>
            </ion-col>
    
            <ion-col size="6">
              <ion-item lines="full">
                  <ion-label position="floating">Visitor Mobile Number*</ion-label>
                  <ion-input formControlName="mobileNumber" type="text"></ion-input>
                </ion-item>
              
                <div class="danger" *ngIf="(oWService.securiteInviteform.controls['mobileNumber'].hasError('required') && oWService.securiteInviteform.controls['mobileNumber'].touched)" padding>Visitor Mobile Number is required</div>
          </ion-col>
    
            <ion-col size="6">
              <ion-item lines="full">
                  <ion-label position="floating">Company</ion-label>
                  <ion-input formControlName="companyName" type="text"></ion-input>
                </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="full">
                <ion-label position="floating">Count*</ion-label>
                <ion-input formControlName="count" type="number"></ion-input>
              </ion-item>
            
              <div class="danger" *ngIf="(oWService.securiteInviteform.controls['count'].hasError('required') && oWService.securiteInviteform.controls['count'].touched)" padding>Count is required</div>
        </ion-col>

        <ion-col size="6">
            <ion-item lines="full">
                <ion-label position="floating">Child Entities*</ion-label>

                <ion-select placeholder="Select One" formControlName="childEntites" (ionChange)="onChildEntity($event)">
                  <ion-select-option *ngFor="let entity of ChildEntities" [value] = "entity.APPARTMENT_CHILD_ENTITY_ID" >{{entity.CHILD_NAME}}
                  </ion-select-option>
              </ion-select>
              </ion-item>
            
              <div class="danger" *ngIf="(oWService.securiteInviteform.controls['childEntites'].hasError('required') && oWService.securiteInviteform.controls['childEntites'].touched)" padding>Child Entity is required</div>
        </ion-col>

        
        <ion-col size="6">
            <ion-item lines="full">
                <ion-label position="floating">Grand Child Entities*</ion-label>

                <ion-select placeholder="Select One" formControlName="grandChildEntites" >
                  <ion-select-option *ngFor="let entity of grandChildEntities" [value] = "entity.APPARTMENT_GRAND_CHILD_ENTITY_ID" >{{entity.GARND_CHILD_NAME}}
                  </ion-select-option>
              </ion-select>
              </ion-item>
            
              <div class="danger" *ngIf="(oWService.securiteInviteform.controls['grandChildEntites'].hasError('required') && oWService.securiteInviteform.controls['grandChildEntites'].touched)" padding>Grand Child Entity is required</div>
            </ion-col>

            <ion-col size="12">
                <ion-item>
                    <ion-label>Select Pic </ion-label>
                    <ion-input  (change)="onVisitorPicChange($event)" type="file" formControlName="visitor_pic" value="custom"></ion-input>
    
                  </ion-item>

              </ion-col>
    
     
         
            </ion-row>
          </ion-grid>
                  <ion-button type="submit" color="primary" expand="block" [disabled]="oWService.securiteInviteform.invalid" >Send Request</ion-button>
          
          </form> 
         
  
    </div>
  </ion-content>