<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">OneApt Registration</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <h6 style="text-align:center;">Plan Information (Step - 6/6)</h6>


  <form [formGroup]="service.plans" novalidate (ngSubmit)="submit(service.plans.value)">
      <ion-item>
          <ion-label position="floating">Plans*</ion-label>
          <ion-select placeholder="Select One"  formControlName="plan">
              <ion-select-option *ngFor="let plan of plansObj" [value] = "plan.PlAN_ID" >{{plan.PLAN_NAME}}
                - ₹ {{plan.AMOUNT}}
              </ion-select-option>
          </ion-select>
        </ion-item>
  
    <ion-button type="submit" color="primary" [disabled]="service.plans.invalid" expand="block" >Pay-</ion-button><br>
    
  </form>
   <ion-button type="button" color="primary"  expand="block" (click)="prevStep()">Previous</ion-button>

   <ion-row>
    <ion-col size="6">
      <a  href='http://localhost:3000/appFiles/file/OneApt_Price_Offers.pdf'  target="_blank">
        Price & Offers
      </a>
    
    </ion-col>
    <ion-col size="6">
        <a  href='http://localhost:3000/appFiles/file/OneApt_Security_users_data.pdf'  target="_blank">
          Security & Users Data
        </a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
        <a  href='http://localhost:3000/appFiles/file/OneApt_terms_conditions.pdf'  target="_blank">
          Terms & Conditions
        </a>
    </ion-col>
    <ion-col size="6">
        <a  href='http://localhost:3000/appFiles/file/OneApt_about_company.pdf'  target="_blank">
          About Company
        </a>
    </ion-col>
  </ion-row>
</ion-content>