<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="title-text">Profile</ion-title>
    <ion-buttons class="title-text" slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <div *ngIf="flatOwner">
      <!-- <form [formGroup]="profileService.profileForm" *ngFor="let list_data of flatOwnerObj" (ngSubmit)="onOwnerSubmit(profileService.profileForm)"> -->
      <form [formGroup]="profileService.profileForm" (ngSubmit)="onOwnerSubmit(profileService.profileForm.value)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-avatar class="image-center">     
                <img 
                  src="http://localhost:3000/flatOwners/flatOwnerImage/{{ImageName}}" onerror="this.src='assets/user.png'" />
                <ion-icon style="margin-left: 50px;"    name="camera"></ion-icon>
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- <ion-input type="text" formControlName="first_name" placeholder="First Name" [(ngModel)]="list_data.OWNER_FIRST_NAME"></ion-input> -->
                <ion-input type="text" formControlName="first_name" placeholder="First Name"></ion-input>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['first_name'].hasError('required') &&
              profileService.profileForm.controls['first_name'].touched">
                <small style="color: #f04141;">First Name is Required.</small></div>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['first_name'].hasError('minLength') &&
              profileService.profileForm.controls['first_name'].touched">
                <small style="color: #f04141;">First Name Must be 3 Atleast Characters.</small></div>
            </ion-col>
            <ion-col>
              <ion-item>
                <!-- <ion-input type="text" formControlName="last_name" placeholder="Last Name" [(ngModel)]="list_data.OWNER_LAST_NAME"></ion-input> -->
                <ion-input type="text" formControlName="last_name" placeholder="Last Name"></ion-input>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['last_name'].hasError('required') &&
              profileService.profileForm.controls['last_name'].touched">
                <small style="color: #f04141;">Last Name is Required.</small></div>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['last_name'].hasError('minLength') &&
              profileService.profileForm.controls['last_name'].touched">
                <small style="color: #f04141;">Last Name Must be 3 Atleast Characters.</small></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- <ion-input type="email" formControlName="email" placeholder="Email" [(ngModel)]="list_data.OWNER_EMAIL"></ion-input> -->
                <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['email'].hasError('required') &&
              profileService.profileForm.controls['email'].touched">
                <small style="color: #f04141;">Email is Required.</small></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- <ion-input type="text" formControlName="mobile_number" placeholder="MobileNumber" [(ngModel)]="list_data.OWNER_MOBILE_NUMBER"></ion-input> -->
                <ion-input type="text" formControlName="mobile_number" placeholder="MobileNumber"></ion-input>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['mobile_number'].hasError('required') &&
              profileService.profileForm.controls['mobile_number'].touched">
                <small style="color: #f04141;">Mobile Number is Required.</small></div>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['mobile_number'].hasError('minLength') &&
              profileService.profileForm.controls['mobile_number'].touched">
                <small style="color: #f04141;">Mobile Number Must be 10 Numbers.</small></div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-label >Select Profile</ion-label>
                <ion-input (change)="onProfileFileChange($event)"  formControlName="owner_img" type="file"></ion-input>
              </ion-item>
          
            </ion-col>
          </ion-row>


       
          <!-- <ion-row>
            <ion-col>
              <ion-item>
                <ion-textarea rows="3" cols="20" formControlName="address" placeholder="Address"></ion-textarea>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['address'].hasError('required') &&
              profileService.profileForm.controls['address'].touched">
                <small style="color: #f04141;">Address is Required.</small></div>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col size="12" class="ion-text-center">

              <ion-button color="primary" style="width:100%" type="submit"
                [disabled]="profileService.profileForm.invalid">
                Submit
              </ion-button>

            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>

    <div *ngIf="flatTenant">
      <form [formGroup]="profileService.profileForm" (ngSubmit)="onTenantSubmit(profileService.profileForm.value)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-avatar class="image-center">
             
                <img  src="http://localhost:3000/flatTenants/flatTenantImage/{{ImageName}}" onerror="this.src='assets/user.png'" />
                <ion-icon style="margin-left: 50px;" name="camera"></ion-icon>
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="text" formControlName="first_name" placeholder="First Name"></ion-input>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['first_name'].hasError('required') &&
              profileService.profileForm.controls['first_name'].touched">
                <small style="color: #f04141;">First Name is Required.</small></div>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['first_name'].hasError('minLength') &&
              profileService.profileForm.controls['first_name'].touched">
                <small style="color: #f04141;">First Name Must be 3 Atleast Characters.</small></div>
            </ion-col>
            <ion-col>
              <ion-item>
               <ion-input type="text" formControlName="last_name" placeholder="Last Name"></ion-input>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['last_name'].hasError('required') &&
              profileService.profileForm.controls['last_name'].touched">
                <small style="color: #f04141;">Last Name is Required.</small></div>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['last_name'].hasError('minLength') &&
              profileService.profileForm.controls['last_name'].touched">
                <small style="color: #f04141;">Last Name Must be 3 Atleast Characters.</small></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
               <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['email'].hasError('required') &&
              profileService.profileForm.controls['email'].touched">
                <small style="color: #f04141;">Email is Required.</small></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
               <ion-input type="text" formControlName="mobile_number" placeholder="MobileNumber"></ion-input>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['mobile_number'].hasError('required') &&
              profileService.profileForm.controls['mobile_number'].touched">
                <small style="color: #f04141;">Mobile Number is Required.</small></div>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['mobile_number'].hasError('minLength') &&
              profileService.profileForm.controls['mobile_number'].touched">
                <small style="color: #f04141;">Mobile Number Must be 10 Numbers.</small></div>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label >Select Profile</ion-label>
                  <ion-input (change)="onProfileFileChange($event)"  formControlName="owner_img" type="file"></ion-input>
                </ion-item>
            
              </ion-col>
            </ion-row>
          <!-- <ion-row>
            <ion-col>
              <ion-item>
                <ion-textarea rows="3" cols="20" formControlName="address" placeholder="Address"></ion-textarea>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.profileForm.controls['address'].hasError('required') &&
              profileService.profileForm.controls['address'].touched">
                <small style="color: #f04141;">Address is Required.</small></div>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col size="12" class="ion-text-center">

              <ion-button color="primary" style="width:100%" type="submit"
                [disabled]="profileService.profileForm.invalid">
                Submit
              </ion-button>

            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>

    <div *ngIf="vendor">
      <form [formGroup]="profileService.vendorProfileForm"
        (ngSubmit)="onVendorSubmit(profileService.vendorProfileForm.value)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-avatar class="image-center">
                  <img  src="http://localhost:3000/vendor/vendorImage/{{ImageName}}" onerror="this.src='assets/user.png'" />
              
                <ion-icon style="margin-left: 50px;" name="camera"></ion-icon>
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
              </ion-item>
              <div class="error_mesg"
                *ngIf="profileService.vendorProfileForm.controls['name'].hasError('required') &&
              profileService.vendorProfileForm.controls['name'].touched">
                <small style="color: #f04141;">Name is Required.</small></div>
              <div class="error_mesg"
                *ngIf="profileService.vendorProfileForm.controls['name'].hasError('minLength') &&
              profileService.vendorProfileForm.controls['name'].touched">
                <small style="color: #f04141;">Name Must be 3 Atleast Characters.</small></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
              </ion-item>
              <div class="error_mesg" *ngIf="profileService.vendorProfileForm.controls['email'].hasError('required') &&
              profileService.vendorProfileForm.controls['email'].touched">
                <small style="color: #f04141;">Email is Required.</small></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
               <ion-input type="text" formControlName="mobile_number" placeholder="MobileNumber"></ion-input>
              </ion-item>
              <div class="error_mesg"
                *ngIf="profileService.vendorProfileForm.controls['mobile_number'].hasError('required') &&
              profileService.vendorProfileForm.controls['mobile_number'].touched">
                <small style="color: #f04141;">Mobile Number is Required.</small></div>
              <div class="error_mesg"
                *ngIf="profileService.vendorProfileForm.controls['mobile_number'].hasError('minLength') &&
              profileService.vendorProfileForm.controls['mobile_number'].touched">
                <small style="color: #f04141;">Mobile Number Must be 10 Numbers.</small></div>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label >Select Profile</ion-label>
                  <ion-input (change)="onProfileFileChange($event)"  formControlName="owner_img" type="file"></ion-input>
                </ion-item>
            
              </ion-col>
            </ion-row>
          <!-- <ion-row>
            <ion-col>
              <ion-item>
               <ion-textarea rows="3" cols="20" formControlName="address" placeholder="Address"></ion-textarea>
              </ion-item>
              <div class="error_mesg"
                *ngIf="profileService.vendorProfileForm.controls['address'].hasError('required') &&
              profileService.vendorProfileForm.controls['address'].touched">
                <small style="color: #f04141;">Address is Required.</small></div>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col size="12" class="ion-text-center">

              <ion-button color="primary" style="width:100%" type="submit"
                [disabled]="profileService.vendorProfileForm.invalid">
                Submit
              </ion-button>

            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>


  </ion-card>

</ion-content>