<ion-content>
  <h5 style="text-align:center;padding-top:60px;">Forgot Password</h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
    <ion-grid>
      <!-- <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">User Name*</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>
          <div class="danger"
            *ngIf="(form.controls['username'].hasError('required') && form.controls['username'].touched)" padding>
            User Name is required</div>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Email*</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <div class="danger" *ngIf="(form.controls['email'].hasError('required') && form.controls['email'].touched)"
            padding>
            Email is required</div>
          <div class="danger" *ngIf="(form.controls['email'].hasError('email') && form.controls['email'].touched)"
            padding>
            Invalid Email Pattern</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Role*</ion-label>
            <ion-select placeholder="Select One" formControlName="role">
              <ion-select-option *ngFor="let roles of roleObj" [value]="roles.ROLE_ID">
                {{roles.ROLE_NAME}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div class="danger" *ngIf="(form.controls['role'].hasError('required') &&
              form.controls['role'].touched)" padding>Relaton is required</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>