
<ion-header >
    <ion-toolbar class="new-background-color">
      <ion-title class="title-text">Allow Visitor</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button class="title-text" autoHide="true"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

      <ion-segment style="margin: 20px 0" [(ngModel)]="segment">
          <ion-segment-button value="waiting">
            <ion-label>Waiting</ion-label>
          </ion-segment-button>
          <ion-segment-button value="inside">
            <ion-label>Inside</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="segment">
            <div *ngSwitchCase="'waiting'">
                <ion-card *ngFor="let visitor of visitorWaitingList" >
                    <ion-item>
                      <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
                      <ion-label>Name : {{visitor.VISITOR_NAME}} &nbsp;   Persons  :  {{visitor.COUNT}}</ion-label>
                 
                
                    </ion-item>
                  
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                          <ion-col size="2">
                              <img style="height: 67%;width: 100%;" src="http://localhost:3000/visitor/visitorPic/{{visitor.VISITIOR_PIC}}" onerror="this.src='../../../../assets/no-image.jpg';"> 
                          </ion-col>
                          <ion-col size="10"> 
                              <h6> Mobile No: {{visitor.VISITOR_MOBILE_NUMBER}}</h6>
                          <h6>
                               Raised Date  :
                                <b> {{visitor.PERMITTED_DATE | date:short}} - {{visitor.PERMITTED_TIME }}</b>
                              </h6>    
                             
                              <div >
                                  <ion-button fill="outline"  (click)="visitorAllow(visitor.ID)"  slot="end">Allow</ion-button>
                              </div>
                            </ion-col>
            
                        
                        </ion-row>
                      </ion-grid>
                      
                   
                  
                    </ion-card-content>
                  </ion-card>
                
              </div>

              <div *ngSwitchCase="'inside'">


                  <ion-card *ngFor="let visitor of visitorInsideList" >
                      <ion-item>
                        <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
                        <ion-label>Name : {{visitor.VISITOR_NAME}} &nbsp;   Persons  :  {{visitor.COUNT}}</ion-label>
                   
                  
                      </ion-item>
                    
                      <ion-card-content>
                        <ion-grid>
                          <ion-row>
                            <ion-col size="2">
                                <img style="height: 67%;width: 100%;" src="http://localhost:3000/visitor/visitorPic/{{visitor.VISITIOR_PIC}}" onerror="this.src='../../../../assets/no-image.jpg';"> 
                            </ion-col>
                            <ion-col size="10"> 
                                <h6> Mobile No: {{visitor.VISITOR_MOBILE_NUMBER}}</h6>
                            <h6>
                                 CheckIn Date  :
                                  <b> {{visitor.CHECKED_IN_DATE | date:short}} - {{visitor.CHECKED_IN_TIME }}</b>
                                </h6>    
                               
                                <div >
                                   
                                </div>
                              </ion-col>
              
                          
                          </ion-row>
                        </ion-grid>
                        
                     
                    
                      </ion-card-content>
                    </ion-card>
                  


                </div>


              </div>



  
      
   
       
      
  
  </ion-content>
   
  