<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="title-text">Association Menu</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="title-text" autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row text-center>
      <ion-col size="4">
        <div style="text-align: center;">
          <img (click)="viewAssComService()" style="width:40px;height:40px;"
            src="../../../../assets/com/comman-area-service.png"
            onError="this.src='assets/com/404.svg'">
          <h6>Common Area Tickets</h6>
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="text-align: center;">
          <img (click)="kidsExitService()" style="width:40px;height:40px;" src="../../../../assets/com/kidsexit.png"
            onError="this.src='assets/com/404.svg'">
          <h6>Kids Exit</h6>
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="text-align: center;">
          <img (click)="parcelPickupService()" style="width:40px;height:40px;"
            src="../../../../assets/com/parcelpicup.png" onError="this.src='assets/com/404.svg'">
          <h6>Parcel Pickup</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row text-center>      
      <ion-col size="4">
        <div style="text-align: center;">
          <img (click)="Visitors()" style="width:40px;height:40px;" src="../../../../assets/com/visitors.png"
            onError="this.src='assets/com/404.svg'">
          <h6>Visitors</h6>
        </div>
      </ion-col>
      <ion-col size="4">
        <div style="text-align: center;">
          <img (click)="votingService()" style="width:40px;height:40px;" src="../../../../assets/com/vote.png"
            onError="this.src='assets/com/404.svg'">
          <h6>Voting</h6>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>