ion-row, ion-col, ion-icon {
    text-align: center;
}

 ion-slides {
     height: 50%;
 }

.custon-nav {
    height: 48px;
    width: 20px;
    cursor: pointer;

    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    ion-icon{
        height: 100%;
    }
}

.prev-icon-custom {
    // background: url("../../../../assets/images/carousal-icon.png") no-repeat scroll 0px 0px;
}

.prev-icon-custom.disabled {
    opacity: 0.4;
    cursor: default;
}

.next-icon-custom {
    // background: url("../../../../assets/images/carousal-icon.png") no-repeat scroll -32px 0px;
}

.next-icon-custom.disabled {
    opacity: 0.4;
    cursor: default;
}

.slider-nav {
    ion-icon {
        height: 100%;
    }
}