<ion-header>
  <ion-toolbar class="new-background-color">
    <!-- <ion-title>Page Title</ion-title> -->
    <ion-searchbar placeholder="Search Service"  (keyup)="updateList($event)"></ion-searchbar>
    <ion-buttons slot="start">
      <ion-menu-button class="title-text"  autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  

  <ion-segment style="margin: 20px 0" [(ngModel)]="segment">
    <ion-segment-button value="Comman">
      <ion-label>Comman</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Individual">
      <ion-label>Individual</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">

    <ion-card *ngSwitchCase="'Comman'">
      <ion-grid>
        <ion-row text-center>
          <ion-col size="3" *ngFor="let comServiceList of comServicesArray">
            <div style="text-align: center;">
                <img (click)="viewComService(comServiceList.comServices.COM_SERVICE_ID)"  style="width:40px;height:40px;" src="http://localhost:3000/comService/comIcon/{{comServiceList.comServices.COM_ICON_NAME}}" onError="this.src='assets/com/404.svg'">
                <h6>{{comServiceList.comServices.COM_SERVICE_NAME}}</h6>
            </div>
           
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card *ngSwitchCase="'Individual'">
      <ion-grid>
        <ion-row text-center>
          <ion-col size="3" *ngFor="let indServiceList of indServicesArray">
              <div style="text-align: center;">
                  <img  (click)="viewIndService(indServiceList.indServices.IND_SERVICE_ID)" style="width:40px;height:40px;" src="http://localhost:3000/indService/indIcon/{{indServiceList.indServices.IND_ICON_NAME}}" onError="this.src='assets/ind/404.svg'" >
                  <h6>{{indServiceList.indServices.IND_SERVICE_NAME}}</h6>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>

     <div style="padding:2px;">
        <ion-slides  style="max-width:330px; max-height:230px !important;"  pager="true" [options]="slideOptsOne" #slideWithNav
        (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
        <!-- <ion-slide *ngFor="let s of sliderOne.slidesItems">
          <img src="../../../../assets/images/{{s.id}}.jpg">
        </ion-slide> -->
        <ion-slide *ngFor="let advertisement of sliderOne.slidesItems">
          <img src="http://localhost:3000/advertisement/advImage/{{advertisement.IMAGE}}"
            onError="this.src='assets/com/404.svg'">
        </ion-slide>
      </ion-slides>
     </div>

  
     
 

</ion-content>
<!-- <ion-button (click) ="logout()" >Logout</ion-button> -->