<ion-header class="header_bg">
  <ion-toolbar class="new-background-color">
    <ion-title class="title-text">Parcel Pickup</ion-title>
    <ion-buttons class="title-text" slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment style="margin: 20px 0" [(ngModel)]="segment">
    <ion-segment-button value="Approved">
      <ion-label>PICKUP REQUEST</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Rejected">
      <ion-label>PICKUP LIST</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'Approved'">
      <form [formGroup]="parcelPickupService.form" (ngSubmit)="onSubmit(parcelPickupService.form.value)">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item lines="full">
                <ion-label position="floating">Visitor Type*</ion-label>
                <ion-select placeholder="Select One" formControlName="visitor_type">
                  <ion-select-option *ngFor="let type of visitorTypes" [value]="type.ID">{{type.TYPE}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <div class="danger" *ngIf="(parcelPickupService.form.controls['visitor_type'].hasError('required') &&
                 parcelPickupService.form.controls['visitor_type'].touched)" padding>Visitor Type is required</div>
            </ion-col>
            <ion-col size="12" *ngIf="parcelPickupService.form.controls['visitor_type'].value == 2">
              <ion-item lines="full">
                <ion-label position="floating">Company Name*</ion-label>
                <ion-input formControlName="company_name" type="text"></ion-input>
              </ion-item>

              <!-- <div class="danger" *ngIf="(parcelPickupService.form.controls['company_name'].hasError('required') &&
                 parcelPickupService.form.controls['company_name'].touched)" padding>Company Name is required</div> -->
              <div class="danger" *ngIf="(parcelPickupService.form.controls['company_name'].hasError('minLength') &&
             parcelPickupService.form.controls['company_name'].touched)" padding>Company Name must be atleast 3
                letters.
              </div>
            </ion-col>
            <ion-col size="12" *ngIf="parcelPickupService.form.controls['visitor_type'].value == 1">
              <ion-item lines="full">
                <ion-label position="floating">Guest Name*</ion-label>
                <ion-input formControlName="guest_name" type="text"></ion-input>
              </ion-item>

              <!-- <div class="danger" *ngIf="(parcelPickupService.form.controls['guest_name'].hasError('required') &&
                 parcelPickupService.form.controls['guest_name'].touched)" padding>Guest Name is required</div> -->
              <div class="danger" *ngIf="(parcelPickupService.form.controls['guest_name'].hasError('minLength') &&
             parcelPickupService.form.controls['guest_name'].touched)" padding>Guest Name must be atleast 3
                letters.
              </div>
            </ion-col>
            <ion-col size="12">
              <ion-item lines="full">
                <ion-label position="floating">Quantity*</ion-label>
                <ion-input formControlName="quantity" type="text"></ion-input>
              </ion-item>
              <div class="danger"
                *ngIf="(parcelPickupService.form.controls['quantity'].hasError('required') &&
                parcelPickupService.form.controls['quantity'].touched)"
                padding>Quantity is required</div>
            </ion-col>
            <ion-col size="12">
              <ion-item lines="full">
                <ion-label position="floating">Pickup Note*</ion-label>
                <ion-input formControlName="pickup_note" type="text"></ion-input>
              </ion-item>

              <div class="danger" *ngIf="(parcelPickupService.form.controls['pickup_note'].hasError('required') &&
                 parcelPickupService.form.controls['pickup_note'].touched)" padding>Pickup Note is required</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button type="submit" color="primary" expand="block" [disabled]="parcelPickupService.form.invalid">Submit
        </ion-button>
      </form>
    </div>

    <div *ngSwitchCase="'Rejected'">
      <ion-card *ngFor="let list of requestData">
        <ion-item>
          <ion-label>No: #Request-{{list.ID}}</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h6> VISITOR TYPE: <b>{{list.vType.TYPE}}</b></h6>
                <h6 *ngIf="list.COMPANY_NAME == null || list.COMPANY_NAME != '' "> COMPANY NAME :
                  <b>{{list.COMPANY_NAME}}</b></h6>
                <h6 *ngIf="list.GUEST_NAME == null || list.GUEST_NAME != '' "> GUEST NAME :
                  <b>{{list.GUEST_NAME}}</b>
                </h6>
                <h6> QUANTITY: <b>{{list.QUANTITY}}</b></h6>
                <h6> OTP : <b>{{list.PARCEL_UNIQUE_NUMBER}}</b> </h6>

                <div *ngIf="list.IS_SECURITY_PICKUP == false && list.IS_SECURITY_HANDOVER == false">
                  <h6>
                    ParcelPickup : <b>Not Delivered</b>
                  </h6>
                  <h6>
                    Parcel HandOver : <b>Not Delivered</b>
                  </h6>
                </div>
                <div *ngIf="list.IS_SECURITY_PICKUP == true && list.IS_SECURITY_HANDOVER == false">
                  <h6>
                    ParcelPickup : <b>PickedUp</b>
                  </h6>
                  <h6>
                    Parcel HandOver : <b> Not Handovered</b>
                  </h6>
                </div>
                <div *ngIf="list.IS_SECURITY_PICKUP == true && list.IS_SECURITY_HANDOVER == true">
                  <h6>
                    ParcelPickup : <b>PickedUp</b>
                  </h6>
                  <h6>
                    Parcel HandOver : <b> Handovered</b>
                  </h6>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>