<!-- <ion-header>
  <ion-toolbar>
    <ion-title>add-family-members-model</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div>
    <ion-icon (click)="modalClose()" style="font-size: 20px; padding-left:95% " name="close-circle" color="danger">
    </ion-icon>
    <div *ngFor="let association of associationObj">
      <h1 style="text-align: center;">
        Association Name : <b>{{association.ASSOCIATION_NAME}} &nbsp;
        </b>
      </h1>
    </div>

    <div>
      <form [formGroup]="service.userRelativeForm" (ngSubmit)="familyDetails(service.userRelativeForm.value)">
        <!-- <ion-icon (click)="modalClose()" style="font-size: 20px; padding-left:95% " name="close-circle" color="danger">
      </ion-icon> -->

        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item lines="full">
                <ion-label position="floating">Relative Name*</ion-label>
                <ion-input type="text" formControlName="relative_name"></ion-input>
              </ion-item>
              <div class="danger" *ngIf="(service.userRelativeForm.controls['relative_name'].hasError('required') &&
              service.userRelativeForm.controls['relative_name'].touched)" padding>Relative Name is required</div>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="full">
                <ion-label position="floating">Age*</ion-label>
                <ion-input type="text" formControlName="age"></ion-input>
              </ion-item>
              <div class="danger" *ngIf="(service.userRelativeForm.controls['age'].hasError('required') &&
              service.userRelativeForm.controls['age'].touched)" padding>Age is required</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-label position="floating">Email*</ion-label>
                <ion-input type="text" formControlName="email_id"></ion-input>
              </ion-item>
              <div class="danger" *ngIf="(service.userRelativeForm.controls['email_id'].hasError('required') &&
                service.userRelativeForm.controls['email_id'].touched)" padding>Email is required</div>
              <div class="danger" *ngIf="(service.userRelativeForm.controls['email_id'].hasError('email') &&
                service.userRelativeForm.controls['email_id'].touched)" padding>Invalid Email Pattern</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item lines="full">
                <ion-label position="floating">Phone Number*</ion-label>
                <ion-input formControlName="phone_number" type="text" required></ion-input>
              </ion-item>
              <div class="danger" *ngIf="(service.userRelativeForm.controls['phone_number'].hasError('required') &&
              service.userRelativeForm.controls['phone_number'].touched)" padding>Phone Number is required</div>
              <div class="danger" *ngIf="(service.userRelativeForm.controls['phone_number'].hasError('minlength') &&
              service.userRelativeForm.controls['phone_number'].touched)" padding>Phone Number must have minimum length
              10
              </div>
            </ion-col>
            <ion-col size="6">
              <ion-item lines="full">
                <ion-label position="floating">Relation Type*</ion-label>
                <ion-select placeholder="Select One" formControlName="relation_id">
                  <ion-select-option *ngFor="let relation of relationsObj" [value]="relation.ID">
                    {{relation.RELATION_NAME}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="danger" *ngIf="(service.userRelativeForm.controls['relation_id'].hasError('required') &&
              service.userRelativeForm.controls['relation_id'].touched)" padding>Relaton is required</div>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
          <ion-col size="6">
            <ion-item lines="full">
              <ion-label position="floating">Owner Name*</ion-label>
              <ion-input type="text" formControlName="app_user_id"></ion-input>
            </ion-item>
            <div class="danger" *ngIf="(service.userRelativeForm.controls['app_user_id'].hasError('required') &&
              service.userRelativeForm.controls['app_user_id'].touched)" padding>Owner Name is required</div>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="full">
              <ion-label position="floating">Association Name*</ion-label>
              <ion-select placeholder="Select One" formControlName="association_id">
                <ion-select-option *ngFor="let association of associationObj" [value]="association.id">
                  {{association.ASSOCIATION_NAME}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div class="danger" *ngIf="(service.userRelativeForm.controls['association_id'].hasError('required') &&
              service.userRelativeForm.controls['association_id'].touched)" padding>Relaton is required</div> 
          </ion-col>

        </ion-row> -->
          <ion-row>
            <ion-col>
              <ion-button style="width:100%; margin-top:10%;" size="medium" color="danger" type="submit"
                [disabled]="!service.userRelativeForm.valid">
                Submit</ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>

</ion-content>